salesforce-main/src/main/default/flows/Allocate_Payments_against_Invoice_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Invoice_to_InvoiceRecordCollection</name>
        <label>Add Invoice to InvoiceRecordCollection</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InvoiceLineRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Posted_Unpaid_Invoice_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Posted_Unpaid_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Payment_Allocation_Records_to_Collection</name>
        <label>Add Payment Allocation Records to Collection</label>
        <locationX>2470</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>PaymentAllocationsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempPaymentAllocationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TempAmountToAllocate_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FlowResult_Error_Amount_to_Allocate_greater_than_Payment_Balance</name>
        <label>Assign FlowResult Error: Amount to Allocate greater than Payment Balance</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>FlowResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You cannot allocate more than the balance of the Payment.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocation_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FlowResult_Error_Amount_to_Allocate_less_than_or_equal_to_0</name>
        <label>Assign FlowResult Error: Amount to Allocate less than or equal to 0</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>FlowResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You must allocate an Amount that is greater than zero.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocation_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FlowResult_Error_No_Invoice_Lines_found</name>
        <label>Assign FlowResult Error: No Invoice Lines found</label>
        <locationX>578</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>FlowResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Found no Unpaid/Partially Paid Invoice Lines related to the selected Invoice(s).</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocation_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FlowResult_Error_Something_went_wrong</name>
        <label>Assign FlowResult Error: Something went wrong</label>
        <locationX>2866</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>FlowResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong. Please contact your System Administrator.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Allocation_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FlowResult_Success</name>
        <label>Assign FlowResult Success</label>
        <locationX>2250</locationX>
        <locationY>3074</locationY>
        <assignmentItems>
            <assignToReference>FlowResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Allocation (Invoice Line) records created.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allocation_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Variables</name>
        <label>Assign Payment Variables</label>
        <locationX>1150</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>AmountToAllocate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_to_Allocate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Record.blng__Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Amount_to_Allocate_valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PaymentAllocation_Amount_full_Invoice_Line_balance</name>
        <label>Assign PaymentAllocation Amount (full Invoice Line balance)</label>
        <locationX>2602</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>PaymentAllocationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieved_Invoice_Lines.blng__Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Payment_Allocation_Record_be_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PaymentAllocation_Amount_partial_Invoice_Line_balance</name>
        <label>Assign PaymentAllocation Amount (partial Invoice Line balance)</label>
        <locationX>2338</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>PaymentAllocationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempAmountToAllocate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Payment_Allocation_Record_be_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PaymentAllocation_Amount_payment_balance_consumed</name>
        <label>Assign PaymentAllocation Amount (payment balance consumed)</label>
        <locationX>3130</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>PaymentAllocationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempAmountToAllocate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLineRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>InvoiceLineRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieved_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Payment_Allocation_Record</name>
        <label>Initialise Payment Allocation Record</label>
        <locationX>2470</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>TempPaymentAllocationRecord.blng__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentAllocationAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPaymentAllocationRecord.blng__InvoiceLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieved_Invoice_Lines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPaymentAllocationRecord.blng__Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempPaymentAllocationRecord.blng__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allocation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Payment_Allocation_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TempAmountToAllocate_variable</name>
        <label>Update TempAmountToAllocate variable</label>
        <locationX>2470</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>TempAmountToAllocate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeductedPaymentBalance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieved_Invoice_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Amount_To_Allocate_fully_pay_off_Invoice_Line_Balance</name>
        <label>Does Amount To Allocate fully pay off Invoice Line Balance?</label>
        <locationX>2602</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Assign_FlowResult_Error_Something_went_wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Amount_To_Allocate_does_not_fully_pay_off_Invoice_Line_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeductedInvoiceLineBalance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PaymentAllocation_Amount_partial_Invoice_Line_balance</targetReference>
            </connector>
            <label>No: Amount To Allocate does not fully pay off Invoice Line Balance</label>
        </rules>
        <rules>
            <name>Yes_Amount_To_Allocate_does_fully_pay_off_Invoice_Line_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeductedInvoiceLineBalance</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PaymentAllocation_Amount_full_Invoice_Line_balance</targetReference>
            </connector>
            <label>Yes: Amount To Allocate does fully pay off Invoice Line Balance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Amount_To_Allocate_been_fully_consumed</name>
        <label>Has Amount To Allocate been fully consumed?</label>
        <locationX>2998</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_FlowResult_Error_Something_went_wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Amount_to_Allocate_has_not_been_fully_consumed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempAmountToAllocate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Amount_To_Allocate_fully_pay_off_Invoice_Line_Balance</targetReference>
            </connector>
            <label>No: Amount to Allocate has not been fully consumed</label>
        </rules>
        <rules>
            <name>Yes_Amount_to_Allocate_has_been_fully_consumed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempAmountToAllocate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PaymentAllocation_Amount_payment_balance_consumed</targetReference>
            </connector>
            <label>Yes: Amount to Allocate has been fully consumed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Amount_to_Allocate_valid</name>
        <label>Is Amount to Allocate valid?</label>
        <locationX>1150</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Retrieved_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes: Amount to Allocate is valid</defaultConnectorLabel>
        <rules>
            <name>No_Amount_to_Allocate_greater_than_Payment_Balance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmountToAllocate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>PaymentBalance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FlowResult_Error_Amount_to_Allocate_greater_than_Payment_Balance</targetReference>
            </connector>
            <label>No: Amount to Allocate greater than Payment Balance</label>
        </rules>
        <rules>
            <name>No_Amount_to_Allocate_less_than_or_equal_to_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmountToAllocate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FlowResult_Error_Amount_to_Allocate_less_than_or_equal_to_0</targetReference>
            </connector>
            <label>No: Amount to Allocate less than or equal to 0</label>
        </rules>
        <rules>
            <name>Yes_But_there_are_no_Invoice_Lines_to_loop_through</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceLineRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FlowResult_Error_No_Invoice_Lines_found</targetReference>
            </connector>
            <label>Yes: But there are no Invoice Lines to loop through</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_InvoiceSelection_in_Retrieved_Invoice_Line_Collection</name>
        <label>Is InvoiceSelection in Retrieved Invoice Line Collection?</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Posted_Unpaid_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No: InvoiceSelection not found in Retrieved Invoice Line Collection</defaultConnectorLabel>
        <rules>
            <name>Yes_InvoiceSelection_found_in_Retrieved_Invoice_Line_Collectiom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceSelection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Posted_Unpaid_Invoice_Lines.blng__Invoice__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Invoice_to_InvoiceRecordCollection</targetReference>
            </connector>
            <label>Yes: InvoiceSelection found in Retrieved Invoice Line Collectiom</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Payment_Allocation_Record_be_created</name>
        <label>Should Payment Allocation Record be created?</label>
        <locationX>2602</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_FlowResult_Error_Something_went_wrong</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Payment_Allocation_Record_should_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentAllocationAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Payment_Allocation_Record</targetReference>
            </connector>
            <label>Yes: Payment Allocation Record should be created</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>InvoiceCollectionChoiceSet</name>
        <collectionReference>Get_Related_Invoice_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>blng__Invoice__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DeductedInvoiceLineBalance</name>
        <dataType>Currency</dataType>
        <expression>{!Retrieved_Invoice_Lines.blng__Balance__c} - {!TempAmountToAllocate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DeductedPaymentBalance</name>
        <dataType>Currency</dataType>
        <expression>{!TempAmountToAllocate} - {!PaymentAllocationAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Allocate Payments against Invoice Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocate Payments against Invoice Lines</label>
    <loops>
        <name>Posted_Unpaid_Invoice_Lines</name>
        <label>Posted Unpaid Invoice Lines</label>
        <locationX>1150</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_All_Posted_Unpaid_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_InvoiceSelection_in_Retrieved_Invoice_Line_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Payment_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Retrieved_Invoice_Lines</name>
        <label>Retrieved Invoice Lines</label>
        <locationX>2250</locationX>
        <locationY>1550</locationY>
        <collectionReference>InvoiceLineRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Amount_To_Allocate_been_fully_consumed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_Allocation_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Payment_Allocation_Records</name>
        <label>Create Payment Allocation Records</label>
        <locationX>2250</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Assign_FlowResult_Success</targetReference>
        </connector>
        <inputReference>PaymentAllocationsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Posted_Unpaid_Invoice_Lines</name>
        <label>Get All Posted Unpaid Invoice Lines</label>
        <locationX>1150</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Posted_Unpaid_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Balance__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceLineStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>BPP_Account_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account_Record.BPP_Account_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves Payment record that triggered the Screen Flow</description>
        <name>Get_Payment_Record</name>
        <label>Get Payment Record</label>
        <locationX>1150</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Account record related to the Payment record that triggered this Screen Flow</description>
        <name>Get_Related_Account_Record</name>
        <label>Get Related Account Record</label>
        <locationX>1150</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Invoice_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Record.blng__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Invoice_Records</name>
        <label>Get Related Invoice Records</label>
        <locationX>1150</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Invoice_s_and_Amount_to_Allocate</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>blng__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__PaymentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </filters>
        <filters>
            <field>blng__PaymentStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Allocation_Results</name>
        <label>Allocation Results</label>
        <locationX>1150</locationX>
        <locationY>3290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FlowResultDisplayText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!FlowResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowResultDisplayText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(73, 176, 44); background-color: rgb(255, 255, 255);&quot;&gt;{!FlowResult}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Invoice_s_and_Amount_to_Allocate</name>
        <label>Select Invoice(s) and Amount to Allocate</label>
        <locationX>1150</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Posted_Unpaid_Invoice_Lines</targetReference>
        </connector>
        <fields>
            <name>SelectUnpaidPostedInvoicesDisplayText</name>
            <fieldText>&lt;p&gt;Please select the Invoice(s) listed below that you wish to allocate a Payment towards:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InvoiceSelection</name>
            <choiceReferences>InvoiceCollectionChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invoices</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Invoice_s_and_Amount_to_Allocate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Invoice_s_and_Amount_to_Allocate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>EnterAmountDisplayText</name>
            <fieldText>&lt;p&gt;Please enter the amount that you would like to pay towards the Invoices you have &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;selected above:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Amount_to_Allocate</name>
            <dataType>Currency</dataType>
            <fieldText>Amount to Allocate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountToAllocate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FlowResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>All good!</stringValue>
        </value>
    </variables>
    <variables>
        <name>InvoiceLineRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>PaymentAllocationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentAllocationsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentAllocationInvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>PaymentBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TempAmountToAllocate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>AmountToAllocate</elementReference>
        </value>
    </variables>
    <variables>
        <name>TempPaymentAllocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentAllocationInvoiceLine__c</objectType>
    </variables>
</Flow>
