salesforce-main/src/main/default/flows/Case_Populate_CS_Student_Details_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Client_Account</name>
        <label>Assign Client Account</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student__r.Client__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Contact_Account_ID</name>
        <label>Assign Contact Account ID</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Person_Account_Client_ID</name>
        <label>Assign Person Account Client ID</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.Account.Client__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Student_Name_Email</name>
        <label>Assign Student Name Email</label>
        <locationX>1106</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.CS_Student_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Student_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Student_Name_Email_StudentID</name>
        <label>Assign Student Name Email StudentID</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.CS_Student_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_Student_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Student_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Student_Name_StudentID_Email</name>
        <label>Assign Student Name StudentID Email</label>
        <locationX>1634</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>$Record.CS_Student_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_Student_Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student__r.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Student_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student__r.Personal_Email__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Student__r.Personal_Email__pc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Supplied_Web_Email</name>
        <label>Assign Supplied Web Email</label>
        <locationX>842</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Case_Record_Type</name>
        <label>Check Case Record Type</label>
        <locationX>1860</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Not Customer Service Or Student Query</defaultConnectorLabel>
        <rules>
            <name>Customer_Service_OR_Student_Query</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student_Query</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Web_Details_Required</targetReference>
            </connector>
            <label>Customer Service OR Student Query</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Person_Contact</name>
        <label>Check Contact(Person Contact)</label>
        <locationX>766</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_Student_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False Check Contact Update Not Required</defaultConnectorLabel>
        <rules>
            <name>True_Contact_Update_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Person_Account_Client_ID</targetReference>
            </connector>
            <label>True Contact Update Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Training_Manager</name>
        <label>Check Contact(Training Manager)</label>
        <locationX>408</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Contact_Person_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False Contact Update Not Required</defaultConnectorLabel>
        <rules>
            <name>True_Contact_Training_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Account_ID</targetReference>
            </connector>
            <label>True Contact (Training Manager)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_CustomerService</name>
        <label>Check Record Type - CS</label>
        <locationX>1749</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Not Customer Service</defaultConnectorLabel>
        <rules>
            <name>Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1</targetReference>
            </connector>
            <label>Customer_Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Student_Details</name>
        <label>Check Student Details</label>
        <locationX>1219</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False Student Details</defaultConnectorLabel>
        <rules>
            <name>True_Student_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student__r.Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Client_Account</targetReference>
            </connector>
            <label>True Student Details</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>Update Student Email</label>
        <locationX>1337</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Student Email</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Student_Name_Email</targetReference>
            </connector>
            <label>TRUE_Update Student Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Student Details Needed</label>
        <locationX>1568</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Student Details Needed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Student_Name_Email_StudentID</targetReference>
            </connector>
            <label>TRUE_Student Details Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Update Student Email</label>
        <locationX>1766</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>FALSE_Update Student Email</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Student__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Student_Name_StudentID_Email</targetReference>
            </connector>
            <label>TRUE_Update Student Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Web_Details_Required</name>
        <label>Web Details Required</label>
        <locationX>1295</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Type_CustomerService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Web Details Update Required</defaultConnectorLabel>
        <rules>
            <name>Update_Web_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Supplied_Web_Email</targetReference>
            </connector>
            <label>Update Web Details</label>
        </rules>
    </decisions>
    <description>Populate Student, Account or Web Customer Details -  A flow using multiple criteria and updates. This flow merges CSA Account, CS Student Details &amp; Populate Web Email Process Builders into a single Fast Field Update Flow for a more efficient update.</description>
    <environments>Default</environments>
    <formulas>
        <name>Form_Student_Full_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Student__r.FirstName+} &apos; &apos; + {!$Record.Student__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>Form_Student_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact.Account.FirstName} &amp;&apos; &apos; &amp; {!$Record.Contact.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Case - Populate CS Student Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Populate Student, Account Or Web Customer Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>282</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contact_Training_Manager</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
