salesforce-main/src/main/default/flows/Case_Milestone_Time_Snapshots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Open_Timestamps</name>
        <label>Assign Open Timestamps</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_open_status_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentOpenStatusTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_owner_timestamp_open__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentOwnerTimestampOpen</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_Timestamp_Values</name>
        <label>Assign Owner Timestamp Values</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_owner_timestamp_open__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentOwnerTimestampOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Minutes_spent_with_previous_case_owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousOwnerTotalTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_owner_closed_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousOwnerClosedTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_owner_open_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousOwnerOpenTimestamp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Status_Owner_Timestamp_Values</name>
        <label>Assign Status &amp; Owner Timestamp Values</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_open_status_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentOpenStatusTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Minutes_spent_in_previous_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousStatusTotalTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_status_closed_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousCloseStatusTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_status_open_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousOpenStatusTimeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Minutes_spent_with_previous_case_owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousOwnerTotalTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Current_owner_timestamp_open__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentOwnerTimestampOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_owner_closed_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousOwnerClosedTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_owner_open_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousOwnerOpenTimestamp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Status_Timestamp_Values</name>
        <label>Assign Status Timestamp Values</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_open_status_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentOpenStatusTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Minutes_spent_in_previous_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreviousStatusTotalTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_status_closed_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousCloseStatusTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_status_open_timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPreviousOpenStatusTimeStamp</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Open_Timestamps</name>
        <label>Set Open Timestamps</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>varCurrentOpenStatusTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentOwnerTimestampOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Open_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreviousOpenStatusValues</name>
        <label>SetPreviousOpenStatusValues</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>varPreviousOpenStatusTimeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_open_status_timestamp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentOpenStatusTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorStatusValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousCloseStatusTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status_Timestamp_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreviousOpenValue</name>
        <label>SetPreviousOpenValue</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>varPreviousOpenStatusTimeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_open_status_timestamp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentOpenStatusTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorStatusValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousCloseStatusTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousOwnerOpenTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_owner_timestamp_open__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentOwnerTimestampOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status_Owner_Timestamp_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPreviousOwnerTimestamp</name>
        <label>SetPreviousOwnerTimestamp</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>varPreviousOwnerOpenTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Current_owner_timestamp_open__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentOwnerTimestampOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousOwnerClosedTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Owner_Timestamp_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision node to determine the nature of the update</description>
        <name>Case_Update_Decision</name>
        <label>Case Update Decision</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No Change To Owner Or Status</defaultConnectorLabel>
        <rules>
            <name>Has_The_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreviousOpenStatusValues</targetReference>
            </connector>
            <label>Has The Status Changed</label>
        </rules>
        <rules>
            <name>Has_The_Owner_Changed_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreviousOwnerTimestamp</targetReference>
            </connector>
            <label>Has The Owner Changed</label>
        </rules>
        <rules>
            <name>Has_The_Owner_Status_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPreviousOpenValue</targetReference>
            </connector>
            <label>Has The Owner &amp; Status Updated</label>
        </rules>
        <rules>
            <name>New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_open_status_timestamp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_owner_timestamp_open__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Open_Timestamps</targetReference>
            </connector>
            <label>New Case</label>
        </rules>
    </decisions>
    <description>Updated to fast field update and assignment nodes</description>
    <environments>Default</environments>
    <formulas>
        <name>PreviousOwnerTotalTime</name>
        <dataType>Number</dataType>
        <expression>({!varPreviousOwnerClosedTimestamp} - {!varPreviousOwnerOpenTimestamp} )* 1440</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PreviousStatusTotalTime</name>
        <dataType>Number</dataType>
        <expression>({!varPreviousCloseStatusTimestamp} - {!varPreviousOpenStatusTimeStamp} )* 1440</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PriorOwnerValue</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>PriorStatusValue</name>
        <dataType>String</dataType>
        <expression>PRIORVALUE({!$Record.Status})</expression>
    </formulas>
    <interviewLabel>Case Milestone Time Snapshots {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Milestone Time Snapshots</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Update_Decision</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCurrentOpenStatusTimestamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentOwnerTimestampOpen</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreviousCloseStatusTimestamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreviousOpenStatusTimeStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreviousOwnerClosedTimestamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreviousOwnerOpenTimestamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreviousStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>PriorStatusValue</elementReference>
        </value>
    </variables>
</Flow>
