salesforce-main/src/main/default/flows/Case_Submission_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Reply_BPPCaseQueries</name>
        <label>Auto Reply BPPCaseQueries</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <actionName>Case.Auto_reply_CSA_case_queries</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BPPCaseQueries_Action_Logged_as_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Reply_BPPCustomerService</name>
        <label>Auto Reply BPPCustomerService</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>Case.Auto_reply_CSA_case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Close_Case_Immediate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Reply_Standard_Customer_Services_Query</name>
        <label>Auto Reply Standard Customer Services Query</label>
        <locationX>1546</locationX>
        <locationY>792</locationY>
        <actionName>Case.Case_New_CS_Query</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Customer_Service_Action_Logged_as_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Auto_Reply_Standard_Student_Query</name>
        <label>Auto Reply Standard Student Query</label>
        <locationX>754</locationX>
        <locationY>792</locationY>
        <actionName>Case.Case_New_Standard_Query</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Student_Query_Action_Logged_as_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unverified_CS_Query_Email</name>
        <label>Unverified CS Query Email</label>
        <locationX>1282</locationX>
        <locationY>792</locationY>
        <actionName>Case.Case_Unverified_CS_Query</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Verification_Timeframe</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Close_Case_Immediate</name>
        <label>Close Case</label>
        <locationX>996</locationX>
        <locationY>1350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxClosedStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IsClosedOnCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCloseOnCreationCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Case_Update_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Subject</name>
        <label>Set Default Subject</label>
        <locationX>864</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Immediate_Action_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set time that case can be verified before auto closing</description>
        <name>Set_Verification_Timeframe</name>
        <label>Set Verification Timeframe</label>
        <locationX>1282</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_Verification_Auto_Close__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxVerificationTimestamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Case_Auto_Close_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxAutoCloseTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Service_Action_Logged_as_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Are letters automatically sent from Salesforce?</description>
        <name>Automated_Letter_Requests</name>
        <label>Automated Letter Requests</label>
        <locationX>2734</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automated_Letter_Requested</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Query_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Query_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I would like to request a Bank, Status or Council Tax letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Query_Subtype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I would like to request a holiday letter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Letter_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_LetterRequest</targetReference>
            </connector>
            <label>Automated Letter Requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Services_Immediate_Actions</name>
        <label>Customer Services Immediate Actions</label>
        <locationX>1546</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Case_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unverified_CS_Query</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unverified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unverified_CS_Query_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Unverified CS Query</label>
        </rules>
        <rules>
            <name>Standard_Customer_Services_Auto_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Ready_to_Close__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CS_Email_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Student_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Reply_Standard_Customer_Services_Query</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Standard Customer Services Auto Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has a subject been populated on case creation? If one has not been specified then set a default one.</description>
        <name>Has_Subject_Been_Populated</name>
        <label>Has Subject Been Populated?</label>
        <locationX>996</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Immediate_Action_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subject Populated</defaultConnectorLabel>
        <rules>
            <name>No_Subject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Subject</targetReference>
            </connector>
            <label>No Subject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Immediate_Action_Path</name>
        <label>Immediate Action Path</label>
        <locationX>996</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Email_Address_Supplied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Case_Update_Required</targetReference>
            </connector>
            <label>No Email Address Supplied</label>
        </rules>
        <rules>
            <name>BPPCustomerService</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Reply_BPPCustomerService__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Reply_BPPCustomerService</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>BPPCustomerService</label>
        </rules>
        <rules>
            <name>BPPCaseQueries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Reply_BPPCaseQueries__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Reply_BPPCaseQueries</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>BPPCaseQueries</label>
        </rules>
        <rules>
            <name>Generic_Email_To_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Query_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undetermined Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case_Immediate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Generic Email-To-Case</label>
        </rules>
        <rules>
            <name>Student_Query_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Student Query</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_Query_Immediate_Actions</targetReference>
            </connector>
            <label>Student Query Case</label>
        </rules>
        <rules>
            <name>Customer_Service_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Services_Immediate_Actions</targetReference>
            </connector>
            <label>Customer Service Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Update_Required</name>
        <label>Is Case Update Required?</label>
        <locationX>2206</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>No Update Required</defaultConnectorLabel>
        <rules>
            <name>Update_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdateRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Subjectx</targetReference>
            </connector>
            <label>Update Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Student_Query_Immediate_Actions</name>
        <label>Student Query Immediate Actions</label>
        <locationX>886</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Case_Update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Student_Query_Auto_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Query_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Undetermined Query</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Query_Subtype__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Suspension Warning</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Query_Subtype__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SPP Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Reply_Standard_Student_Query</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Standard Student Query Auto Response</label>
        </rules>
    </decisions>
    <description>Case immediate actions upon submission of case into support process (context: after creation/update)</description>
    <environments>Default</environments>
    <formulas>
        <name>fxAutoCloseTime</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status},&quot;Unverified&quot;),{!fxVerificationTimestamp},
NOW() + 1)</expression>
    </formulas>
    <formulas>
        <description>Calculates task subject based on the decision path</description>
        <name>fxCalculateTaskSubject_CustomerService</name>
        <dataType>String</dataType>
        <expression>IF({!Unverified_CS_Query} = True, &quot;Email Sent: Unverified CS Query&quot;, &quot;Email Sent: New CS Query&quot;)</expression>
    </formulas>
    <formulas>
        <name>fxClosedStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Status},&quot;Unverified&quot;),&quot;Closed - Unverified&quot;,&quot;Closed&quot;)</expression>
    </formulas>
    <formulas>
        <description>If ISNEW() then set value to True</description>
        <name>fxCloseOnCreationCalc</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!$Record__Prior.Id}),True,False)</expression>
    </formulas>
    <formulas>
        <description>Calculate the required string value for the default Subject from the Query Subtype field</description>
        <name>fxQuerySubtypeString</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Query_Subtype__c})),&quot;&quot;, TEXT({!$Record.Query_Subtype__c}) &amp; &quot; - &quot;)</expression>
    </formulas>
    <formulas>
        <name>fxVerificationTimestamp</name>
        <dataType>DateTime</dataType>
        <expression>IF(WEEKDAY(TODAY()) =6, NOW() +3,
IF(WEEKDAY(TODAY()) =7,NOW() +2,
NOW() +1 ))</expression>
    </formulas>
    <interviewLabel>Case Submission Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Submission Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>System Task created to show email alert was sent</description>
        <name>BPPCaseQueries_Action_Logged_as_Task</name>
        <label>BPPCaseQueries Action Logged as Task</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Close_Case_Immediate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Automated_System_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.System_Task_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Reply Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>System Task created to show email alert was sent</description>
        <name>Customer_Service_Action_Logged_as_Task</name>
        <label>Customer Service Action Logged as Task</label>
        <locationX>1546</locationX>
        <locationY>1092</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Case_Update_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Automated_System_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.System_Task_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fxCalculateTaskSubject_CustomerService</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>System Task created to show email alert was sent</description>
        <name>Student_Query_Action_Logged_as_Task</name>
        <label>Student Query Action Logged as Task</label>
        <locationX>754</locationX>
        <locationY>900</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Case_Update_Required</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Automated_System_User_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.System_Task_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email Sent: New Query</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Default_Subjectx</name>
        <label>Update Case</label>
        <locationX>2074</locationX>
        <locationY>792</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_LetterRequest</name>
        <label>Update Case</label>
        <locationX>2602</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready to Close</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1739</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Subject_Been_Populated</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.Name} = &apos;Student Query&apos; || {!$Record.RecordType.Name} = &apos;Customer Service&apos;) &amp;&amp;
{!$Setup.FlowSettings__c.Case_Submission_Automation__c} = False &amp;&amp;
(ISNEW() || 
(ISPICKVAL({!$Record.Status}, &quot;New&quot;) &amp;&amp;
(ISCHANGED({!$Record.Status}) || 
(ISCHANGED({!$Record.New_Email__c}) &amp;&amp; {!$Record.New_Email__c} = True))))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Delayed_Initiate_Close_Case</name>
            <connector>
                <targetReference>Automated_Letter_Requests</targetReference>
            </connector>
            <label>Delayed Initiate Close Case</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Default Subject that is set if one has not already been populated on the case record.
Default Subject = Query Type - Query Subtype - Owner</description>
        <name>DefaultSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Query_Type__c} - {!fxQuerySubtypeString} {!$Record.Owner_Name_Department__c}</text>
    </textTemplates>
    <triggerOrder>200</triggerOrder>
    <variables>
        <description>If true record will update at the end of the flow</description>
        <name>varUpdateRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
