salesforce-main/src/main/default/flows/CBA_Booking_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Create new institute body record for the student using the qualification for the booked product &amp; the student number provided by the user.</description>
        <name>Create_Institute_Body_Record</name>
        <label>Create Institute Body Record</label>
        <locationX>1223</locationX>
        <locationY>328</locationY>
        <actionName>Account.Create_Institute_Body</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Institute_Body</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Institute_Body__c</name>
            <value>
                <elementReference>varProductQualification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Institute_Number__c</name>
            <value>
                <elementReference>Student_Institute_Number</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Booking_Student_Lookup.recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Single CBA product (collection size of 1), so assign the order product Product Id to varCBAProductId. Also assign the order product &gt; product Qualification to varProductQualification</description>
        <name>Assign_CBA_Product</name>
        <label>Assign CBA Product</label>
        <locationX>619</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>varCBAProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_CBA_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductQualification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_CBA_Product.Product2.Qualification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_CBA_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>User selected CBA product, assign the order product &gt; Product Qualification to varProductQualification</description>
        <name>Assign_Selected_Product_Qualification</name>
        <label>Assign Selected Product Qualification</label>
        <locationX>548</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>varProductQualification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Multi_CBA_Products.Product2.Qualification__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multi_CBA_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts how many CBA order product records were found</description>
        <name>CBA_Product_Count</name>
        <label>CBA Product Count</label>
        <locationX>176</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>varCBAProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CBA_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CBA_Quantity</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Confirmed value for booking Status field</description>
        <name>chStatusConfirmed</name>
        <choiceText>Confirmed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmed</stringValue>
        </value>
    </choices>
    <choices>
        <description>On Hold value for booking Status field</description>
        <name>chStatusOnHold</name>
        <choiceText>On Hold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On Hold</stringValue>
        </value>
    </choices>
    <decisions>
        <description>How many CBA products are on the order? If more than one then user will be asked to select the correct one for the booking. If none found then exit process</description>
        <name>CBA_Quantity</name>
        <label>CBA Quantity</label>
        <locationX>321</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Unsuccessful_CBA_Booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zero CBAs</defaultConnectorLabel>
        <rules>
            <name>Single_CBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCBAProductCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_CBA_Product</targetReference>
            </connector>
            <label>Single CBA</label>
        </rules>
        <rules>
            <name>Multiple_CBAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCBAProductCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_CBA_Product</targetReference>
            </connector>
            <label>Multiple CBAs</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the student have an institute body for the qualification being back</description>
        <name>Does_Student_Have_Correct_Institute_Body</name>
        <label>Does Student Have Correct Institute Body?</label>
        <locationX>1358</locationX>
        <locationY>464</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Institute_Body_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Institute_Body.Student__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Booking_Student_Lookup.recordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Institute_Body.Institute_Body__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varProductQualification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CBA_Booking</targetReference>
            </connector>
            <label>Institute Body Exists</label>
        </rules>
        <rules>
            <name>New_Institute_Body_Record_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Institute_Body.Student__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Booking_Student_Lookup.recordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Institute_Body.Institute_Body__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varProductQualification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Student_s_Institute_Number</targetReference>
            </connector>
            <label>New Institute Body Record Required</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the current loop item the user selected order product to be booked?</description>
        <name>Selected_Order_Product</name>
        <label>Selected Order Product</label>
        <locationX>857</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multi_CBA_Products.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CBA_Product_Selection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Product_Qualification</targetReference>
            </connector>
            <label>Selected Product</label>
        </rules>
        <rules>
            <name>Not_Selected_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multi_CBA_Products.Product2.Qualification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CBA_Product_Selection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multi_CBA_Products</targetReference>
            </connector>
            <label>Not Selected Product</label>
        </rules>
    </decisions>
    <description>Booking options for CBAs</description>
    <dynamicChoiceSets>
        <description>Instance session duration options</description>
        <name>pcsSessionDuration</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Session_Duration__c</picklistField>
        <picklistObject>Instance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Booking Status field picklist options</description>
        <name>pcsStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Booking Status Reason picklist values</description>
        <name>pcsStatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_Reason__c</picklistField>
        <picklistObject>Booking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsCBAAvailableInstances</name>
        <dataType>String</dataType>
        <displayField>CBA_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCBAProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Instance_Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CBA__c</object>
        <outputAssignments>
            <assignToReference>varCBAName</assignToReference>
            <field>CBA_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCBAId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCBAInstanceId</assignToReference>
            <field>Instance__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Available instances for the CBA product, filtered by the user selections</description>
        <name>rcsCBAAvailableInstances_Filtered</name>
        <dataType>String</dataType>
        <displayField>CBA_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCBAProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Instance_Availability__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CBA_Filter_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session_Duration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CBA_Filter_Session_Duration</elementReference>
            </value>
        </filters>
        <filters>
            <field>Study_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CBA_Filter_Location</elementReference>
            </value>
        </filters>
        <object>CBA__c</object>
        <outputAssignments>
            <assignToReference>varCBAName</assignToReference>
            <field>CBA_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCBAId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCBAInstanceId</assignToReference>
            <field>Instance__c</field>
        </outputAssignments>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcsCBAProducts</name>
        <dataType>String</dataType>
        <displayField>Product_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CBA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>varCBAProductId</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>BPp study locations</description>
        <name>rcsStudyLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Study_Location__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>If the order is for a student and that account record has the Client field populated then set that, otherwise use the order account.</description>
        <name>fxDefaultClient</name>
        <dataType>String</dataType>
        <expression>IF( AND( {!Order_Record.Account.IsPersonAccount} = TRUE, NOT( ISBLANK( {!Order_Record.Account.Client__c} ))),
{!Order_Record.Account.Client__r.Id},  
{!Order_Record.AccountId} )</expression>
    </formulas>
    <formulas>
        <description>Sets the student as the order account value for person accounts</description>
        <name>fxDefaultStudent</name>
        <dataType>String</dataType>
        <expression>IF( {!Order_Record.Account.IsPersonAccount} = TRUE,
{!Order_Record.AccountId},
NULL )</expression>
    </formulas>
    <interviewLabel>CBA Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CBA Booking Screen</label>
    <loops>
        <description>Loop through the collection of order product records on the order</description>
        <name>Multi_CBA_Products</name>
        <label>Multi CBA Products</label>
        <locationX>673</locationX>
        <locationY>529</locationY>
        <collectionReference>CBA_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selected_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_CBA_Instances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through the collection of order product records on the order</description>
        <name>Single_CBA_Product</name>
        <label>Single CBA Product</label>
        <locationX>621</locationX>
        <locationY>391</locationY>
        <collectionReference>CBA_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CBA_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_CBA_Instances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create CBA booking</description>
        <name>Create_CBA_Booking</name>
        <label>Create CBA Booking</label>
        <locationX>1566</locationX>
        <locationY>461</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Booking_Account_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CBA__c</field>
            <value>
                <elementReference>varCBAId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instance__c</field>
            <value>
                <elementReference>varCBAInstanceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Institute_Number__c</field>
            <value>
                <elementReference>Institute_Body.Institute_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Hold_Reason__c</field>
            <value>
                <elementReference>Booking_On_Hold_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Order_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Number__c</field>
            <value>
                <elementReference>Booking_PO_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01267000000V2NNAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Reason__c</field>
            <value>
                <elementReference>Booking_Status_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Booking_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>Booking_Student_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>CBA order products related to the order that the booking is being made against</description>
        <name>CBA_Order_Products</name>
        <label>CBA Order Products</label>
        <locationX>176</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CBA_Product_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Order_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CBA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get institute body record relating to the booked student where institute body matches the product qualification</description>
        <name>Institute_Body</name>
        <label>Institute Body</label>
        <locationX>1223</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Student_Have_Correct_Institute_Body</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Booking_Student_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Institute_Body__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductQualification</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Institute_Body__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Order record that the booking is being made against</description>
        <name>Order_Record</name>
        <label>Order Record</label>
        <locationX>176</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CBA_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Booking_Details</name>
        <label>Booking Details</label>
        <locationX>1118</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Institute_Body</targetReference>
        </connector>
        <fields>
            <name>Booking_Info_CBA</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(28, 127, 60);&quot;&gt;{!varCBAName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Booking_Info_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please complete the booking details below to create this CBA booking.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Booking_Student_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Student__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Student</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Booking__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>fxDefaultStudent</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Booking_Account_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Booking__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>fxDefaultClient</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Booking_Status</name>
            <choiceReferences>chStatusConfirmed</choiceReferences>
            <choiceReferences>chStatusOnHold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Booking Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Booking_Status_Reason</name>
            <choiceReferences>pcsStatusReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Booking Status Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Booking_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Confirmed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Booking_Status</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>On Hold</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Booking_On_Hold_Reason</name>
            <dataType>String</dataType>
            <fieldText>On Hold Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Booking_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>On Hold</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Booking_PO_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Order_Record.PoNumber</elementReference>
            </defaultValue>
            <fieldText>Booking PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Filter_CBA_Instances</name>
        <label>Filter CBA Instances</label>
        <locationX>877</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_CBA_Instance</targetReference>
        </connector>
        <fields>
            <name>CBA_Filter_Toggle_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Would you like to filter the available CBA instances?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CBA_Filter_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Filter Active</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Filter Inactive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Filter CBA Instances?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varFilterActive</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CBA_Filter_Text</name>
            <fieldText>&lt;p&gt;Please add desired filter criteria. &lt;i&gt;All filters must be completed.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CBA_Filter_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CBA_Filter_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>CBA Filter Date (selected date + future dates returned)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CBA_Filter_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CBA_Filter_Session_Duration</name>
            <choiceReferences>pcsSessionDuration</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CBA Filter Session Duration</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CBA_Filter_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CBA_Filter_Location</name>
            <choiceReferences>rcsStudyLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CBA Filter Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CBA_Filter_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>The student&apos;s institute number is required to complete the booking</description>
        <name>Input_Student_s_Institute_Number</name>
        <label>Input Student&apos;s Institute Number</label>
        <locationX>1370</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Institute_Body_Record</targetReference>
        </connector>
        <fields>
            <name>Student_Institute_Number_Text</name>
            <fieldText>&lt;p&gt;No &lt;span style=&quot;color: rgb(40, 152, 237);&quot;&gt;{!varProductQualification}&lt;/span&gt; institute body record could be found for &lt;span style=&quot;color: rgb(40, 152, 237);&quot;&gt;{!Booking_Student_Lookup.recordName}&lt;/span&gt;. This is required for CBA bookings.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please provide the &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!varProductQualification} &lt;/b&gt;&lt;b&gt;Institute Number for &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Booking_Student_Lookup.recordName}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;A new institute body record will be created for the student.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Student_Institute_Number</name>
            <dataType>String</dataType>
            <fieldText>Student&apos;s Institute Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_CBA_Instance</name>
        <label>Select CBA Instance</label>
        <locationX>1004</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Booking_Details</targetReference>
        </connector>
        <fields>
            <name>CBA_Instance_Selection_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please choose the desired CBA instance from the options provided.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CBA_Instance_Options</name>
            <choiceReferences>rcsCBAAvailableInstances</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CBA Instance Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CBA_Filter_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CBA_Instance_Options_Filtered</name>
            <choiceReferences>rcsCBAAvailableInstances_Filtered</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CBA Instance Options (Filtered)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CBA_Filter_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_CBA_Product</name>
        <label>Select CBA Product</label>
        <locationX>543</locationX>
        <locationY>529</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Multi_CBA_Products</targetReference>
        </connector>
        <fields>
            <name>CBA_Product_Selection_Text</name>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;More than one CBA product has been found on this order.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please select the CBA you wish to book.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CBA_Product_Selection</name>
            <choiceReferences>rcsCBAProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>CBA Product Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen returned where there is an issue with booking the CBA</description>
        <name>Unsuccessful_CBA_Booking</name>
        <label>Unsuccessful CBA Booking</label>
        <locationX>328</locationX>
        <locationY>622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_CBA_Products_Text</name>
            <fieldText>&lt;p&gt;There are no CBA products associated with this order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the order record that the booking is being made against</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the selected CBA record</description>
        <name>varCBAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the selected Instance for the CBA being booked</description>
        <name>varCBAInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the selected CBA being booked</description>
        <name>varCBAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Count of the number of CBA order products found on the order</description>
        <name>varCBAProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>CBA product that is being booked</description>
        <name>varCBAProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>True if user has enabled the CBA instance filter</description>
        <name>varFilterActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Qualification value on the product of the order product being booked</description>
        <name>varProductQualification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>BPP study location selected by user (for filter)</description>
        <name>varStudyLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
