salesforce-main/src/main/default/flows/Change_Lead_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Uses the apex action BypassDuplicateCheck</description>
        <name>Launch_Bypass_duplicate_check</name>
        <label>Launch Bypass duplicate check</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <actionName>BypassDuplicateCheck</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__recordToSave</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__savedRecord</typeName>
            <typeValue>Lead</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>insertOrUpdate</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordToSave</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Provide the lead record with values to update</description>
        <name>Update_Lead_Values</name>
        <label>Update Lead Values</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Title_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.rfi_Are_you_EU_UK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Launch_Bypass_duplicate_check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks to see if update request has been cancelled</description>
        <name>Continue_with_Update</name>
        <label>Continue with Update</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_Update_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Cancel Update</label>
        </rules>
    </decisions>
    <description>Change the record type of the lead from Prospective Student to Business Development lead and vice versa</description>
    <environments>Default</environments>
    <formulas>
        <description>The record type that the lead is being changed to</description>
        <name>fxNewRecordType</name>
        <dataType>String</dataType>
        <expression>If({!recordId.RecordType.Name}=&apos;Prospective Student&apos;,&apos;Business Development&apos;,&apos;Prospective Student&apos;)</expression>
    </formulas>
    <interviewLabel>Change Lead Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Change Lead Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the record type to change to</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Switch_Lead_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fxNewRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Switch_Lead_Type</name>
        <label>Switch Lead Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue_with_Update</targetReference>
        </connector>
        <fields>
            <name>Display_Action_Summary</name>
            <fieldText>&lt;p&gt;Change lead record type from &lt;strong style=&quot;color: rgb(97, 112, 221);&quot;&gt;{!recordId.RecordType.Name}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;to &lt;strong style=&quot;color: rgb(27, 128, 60);&quot;&gt;{!fxNewRecordType}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancel_Update_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BD_Info_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please add the following information to  update the record to a &lt;/strong&gt;&lt;strong style=&quot;color: rgb(27, 128, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!fxNewRecordType}&lt;/strong&gt;&lt;strong&gt; lead.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancel_Update_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Switch_Lead_Type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Switch_Lead_Type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Company</elementReference>
                    </defaultValue>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Job_Title_Input</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Title</elementReference>
                    </defaultValue>
                    <fieldText>Job Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancel_Update_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fxNewRecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Business Development</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Switch_Lead_Type_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Switch_Lead_Type_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cancel_Update_Text</name>
                    <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;color: rgb(234, 11, 11);&quot;&gt;Update request will be cancelled&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cancel_Update_Toggle.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Switch_Lead_Type_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cancel_Update_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Cancel Lead Update?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Cancel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Cancel Update</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
