salesforce-main/src/main/default/flows/Change_Opportunity_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_to_Collection</name>
        <label>Add Opportunity to Collection</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Opportunities_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_To_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Opportunity_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Failed_Opportunities</name>
        <label>Add to Failed Opportunities</label>
        <locationX>1018</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Failed_Opportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_After_Update_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Failed_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Successfully_Updated_Opportunities</name>
        <label>Add to Successfully Updated Opportunities</label>
        <locationX>754</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Successfully_Updated_Opportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_After_Update_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Successful_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Opportunities</name>
        <label>Count Opportunities</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Owner_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Extract_single_Opportunity</name>
        <label>Extract single Opportunity</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_After_Update_Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_single_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_single_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Failed_Count</name>
        <label>Increment Failed Count</label>
        <locationX>1018</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Failed_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_updated_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Successful_Count</name>
        <label>Increment Successful Count</label>
        <locationX>754</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Successful_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_updated_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_To_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Opportunity_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_To_Update.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_User_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_to_single_Opportunity_result</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to single Opportunity result</label>
        <locationX>886</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Filter_to_single_Opportunity_result</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Query_Opportunities</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_single_Opportunity_result.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_over_updated_Opportunities.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_over_single_Opportunity</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Expected_Opportunity_Owner</name>
        <label>Expected Opportunity Owner?</label>
        <locationX>886</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Add_to_Failed_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Expected_Opportunity_Owner_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_After_Update_Result.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_over_updated_Opportunities.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Successfully_Updated_Opportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Permissions</name>
        <label>Has Permissions?</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Insufficient_Permissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Permissions_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Change_Opportunity_Owner_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Opportunities</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change_Opportunity_Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Opportunity Owner</label>
    <loops>
        <name>Loop_over_Opportunity_Ids</name>
        <label>Loop over Opportunity Ids</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_single_Opportunity</name>
        <label>Loop over single Opportunity</label>
        <locationX>886</locationX>
        <locationY>1298</locationY>
        <collectionReference>Filter_to_single_Opportunity_result</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Extract_single_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expected_Opportunity_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_updated_Opportunities</name>
        <label>Loop over updated Opportunities</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <collectionReference>Opportunities_To_Update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_to_single_Opportunity_result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Failed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Query_Opportunities</name>
        <label>Query Opportunities</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_updated_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Opportunity_Link__c</queriedFields>
        <queriedFields>Opportunity_Owner_Full__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Query_Opportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Query_Opportunities</targetReference>
        </faultConnector>
        <inputReference>Opportunities_To_Update</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Change_Owner_Screen</name>
        <label>Change Owner</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_over_Opportunity_Ids</targetReference>
        </connector>
        <fields>
            <name>Change_Owner_Screen_Selected_Count_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You&apos;ve selected {!Opportunity_Count} record(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_User_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insufficient_Permissions</name>
        <label>Insufficient Permissions</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Insufficient_Permissions_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You do not have sufficient permissions to change Opportunity Owners in bulk.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Failed</name>
        <label>Update_Failed_Screen</label>
        <locationX>666</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successfully_Updated_Opportunities_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Successful Update(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Successfully_Updated_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Opportunity_Link__c&quot;,&quot;guid&quot;:&quot;column-7ab8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Opportunity_Owner_Full__c&quot;,&quot;guid&quot;:&quot;column-3083&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity Owner&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Successful_Count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Failed_Opportunities_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Failed Update(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Failed_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Opportunity_Link__c&quot;,&quot;guid&quot;:&quot;column-735c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Opportunity_Owner_Full__c&quot;,&quot;guid&quot;:&quot;column-99a4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity Owner&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Failed_Count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_to_single_Opportunity_result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Failed_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Failed_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunities_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_After_Update_Result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Opportunity_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Successful_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Successfully_Updated_Opportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Successfully_Updated_Opportunity_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
