salesforce-main/src/main/default/flows/Close_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Booked_Reason_Assignment</name>
        <label>Booked Reason Assignment</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.BPP_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Sub_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancellation_Reason_Assignment</name>
        <label>Cancellation Reason Assignment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.BPP_Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.BPP_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Sub_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_is_Change_of_Programme</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_of_Programme_Assignment</name>
        <label>Change of Programme Assignment</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordId.Changed_Course_Instance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Changed_Professional_Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Awarding_Institution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejection_Reason_Assignment</name>
        <label>Rejection Reason Assignment</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId.BPP_Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.BPP_Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Sub_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Applicantisnotsuitableforselectedprogramme</name>
        <choiceText>Applicant is not suitable for selected programme</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appRejectOverqualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Applicationhasafundingissue</name>
        <choiceText>Application has a funding issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appRejectFundingIssue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Booked</name>
        <choiceText>Booked</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booked</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Cancelled</name>
        <choiceText>&lt;strong&gt;Cancelled&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Cancelledduetochangeofemployer</name>
        <choiceText>Cancelled due to change of employer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appCloneCancelChangedEmployer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Changeofprogramme</name>
        <choiceText>Change of programme</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appCloneCancelChangedProgramme</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Failedtosubmitapplicationbeforedeadline</name>
        <choiceText>Failed to submit application before deadline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appMissedDeadline</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_IneligiblestatusResidency</name>
        <choiceText>Ineligible status (Residency)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appRejectIneligibleResidency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_IneligiblestatusVISA</name>
        <choiceText>Ineligible status (VISA)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appRejectIneligibleVisa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_InvalidApplication</name>
        <choiceText>Invalid Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appInvalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_JobroledoesnotmatchcriteriaHOP</name>
        <choiceText>Job role does not match criteria (HOP)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appRejectRoleHop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_JobroledoesnotmatchcriteriaOnboarding</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Job role does not match criteria (&lt;/span&gt;Onboarding&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appRejectRoleOnboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Learnerwithdrawn</name>
        <choiceText>Learner withdrawn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appWithdrawApplicant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Noresponsefromapplicant</name>
        <choiceText>No response from applicant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appNoResponseApplicant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Noresponsefromemployer</name>
        <choiceText>No response from employer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>appNoResponseEmployer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Closure_type</name>
        <label>Closure type?</label>
        <locationX>600</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Sub_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Cancelled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Reason_Assignment</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Sub_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Rejected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Reason_Assignment</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Sub_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Booked</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Booked_Reason_Assignment</targetReference>
            </connector>
            <label>Booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_is_Change_of_Programme</name>
        <label>Reason is Change of Programme</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Reason_Change_of_Programme_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Changeofprogramme</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Awarding_institution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedCancellationReason</name>
        <dataType>String</dataType>
        <expression>CASE(
            {!Picklist_Sub_Status},
            {!Choice_Cancelled}, {!Cancellation_Reason},
            {!Choice_Rejected}, {!Rejection_Reason},
            &apos;&apos;
            )</expression>
    </formulas>
    <interviewLabel>Close Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Awarding_institution</name>
        <label>Get Awarding institution</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_of_Programme_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Lookup.recordId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>Awarding_Institution</assignToReference>
            <field>Awarding_Institution__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>600</locationX>
        <locationY>950</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Close_Opportunity</name>
        <label>Close Opportunity</label>
        <locationX>600</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Closure_type</targetReference>
        </connector>
        <fields>
            <name>Picklist_Sub_Status</name>
            <choiceReferences>Choice_Cancelled</choiceReferences>
            <choiceReferences>Choice_Rejected</choiceReferences>
            <choiceReferences>Choice_Booked</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sub Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cancellation_Reason</name>
            <choiceReferences>Choice_Failedtosubmitapplicationbeforedeadline</choiceReferences>
            <choiceReferences>Choice_Learnerwithdrawn</choiceReferences>
            <choiceReferences>Choice_Noresponsefromapplicant</choiceReferences>
            <choiceReferences>Choice_Noresponsefromemployer</choiceReferences>
            <choiceReferences>Choice_Cancelledduetochangeofemployer</choiceReferences>
            <choiceReferences>Choice_Changeofprogramme</choiceReferences>
            <choiceReferences>Choice_InvalidApplication</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Picklist_Sub_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Cancelled</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <choiceReferences>Choice_IneligiblestatusResidency</choiceReferences>
            <choiceReferences>Choice_IneligiblestatusVISA</choiceReferences>
            <choiceReferences>Choice_JobroledoesnotmatchcriteriaHOP</choiceReferences>
            <choiceReferences>Choice_JobroledoesnotmatchcriteriaOnboarding</choiceReferences>
            <choiceReferences>Choice_Applicantisnotsuitableforselectedprogramme</choiceReferences>
            <choiceReferences>Choice_Applicationhasafundingissue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Picklist_Sub_Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Rejected</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Course_Instance__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancellation_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Changeofprogramme</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>474</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Awarding_Institution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the Opportunity from the Quick Action</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
