salesforce-main/src/main/default/flows/Company_Account_Fast_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Set values from parent to be updated</description>
        <name>Assign_Values_from_Parent</name>
        <label>Assign Values from Parent</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Managed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Account_Managed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Key_Client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Use_Parent_Contracted_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set non key client accounts to ignore parent contracted pricing</description>
        <name>Ignore_Parent_Contracted_Pricing</name>
        <label>Ignore Parent Contracted Pricing</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__IgnoreParentContractedPrices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Values_to_Default</name>
        <label>Reset Values to Default</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Managed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Use_Parent_Contracted_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set key client accounts to use parent contracted pricing</description>
        <name>Use_Parent_Contracted_Pricing</name>
        <label>Use Parent Contracted Pricing</label>
        <locationX>380</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__IgnoreParentContractedPrices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Does the account have a parent that is a key client and the account has been set as not a key client?</description>
        <name>Evaluate_Parent_Child_Key_Client_Status</name>
        <label>Evaluate Parent/Child Key Client Status</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Use_Parent_Contracted_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Account_Desynced_From_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Key_Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Client__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.Key_Client__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Parent_Contracted_Pricing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Account Desynced From Parent</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the account record been associated with a new parent</description>
        <name>Parent_Account_Changed</name>
        <label>Parent Account Changed?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Parent_Child_Key_Client_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ParentId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_from_Parent</targetReference>
            </connector>
            <label>New Parent Account</label>
        </rules>
        <rules>
            <name>Orphaned_from_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ParentId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Values_to_Default</targetReference>
            </connector>
            <label>Orphaned from Parent</label>
        </rules>
    </decisions>
    <description>Business/company account fast record updates (context: before creation/update)</description>
    <environments>Default</environments>
    <interviewLabel>Company Account Fast Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Company Account Fast Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Account_Changed</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Business_Development_Account&quot;</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>200</triggerOrder>
</Flow>
