salesforce-main/src/main/default/flows/Company_Account_Before_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Set values from parent to be updated</description>
        <name>Assign_Values_from_Parent</name>
        <label>Assign Values from Parent</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Managed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Account_Managed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Client_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Key_Client_Potential__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Values_to_Default</name>
        <label>Reset Values to Default</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Managed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Key_Client_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Has the account record been associated with a new parent</description>
        <name>Parent_Account_Changed</name>
        <label>Parent Account Changed?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ParentId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_from_Parent</targetReference>
            </connector>
            <label>New Parent Account</label>
        </rules>
        <rules>
            <name>Orphaned_from_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ParentId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Values_to_Default</targetReference>
            </connector>
            <label>Orphaned from Parent</label>
        </rules>
    </decisions>
    <description>Updates to the account object for companies only - runs when record is created &amp; updated (before update)</description>
    <environments>Default</environments>
    <interviewLabel>Company Account - Before Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Company Account - Before Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Account_Changed</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Business_Development_Account&quot;</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
