salesforce-main/src/main/default/flows/Company_Account_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Have the &apos;Client Band&apos; or &apos;Client Band Potential&apos; fields been updated?</description>
        <name>Client_Bands_Updated</name>
        <label>Client Bands Updated</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Bands_Were_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Managed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Account_Managed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Client_Potential__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Client_Potential__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Account_Records</targetReference>
            </connector>
            <label>Client Bands Were Updated</label>
        </rules>
    </decisions>
    <description>Updates to the account object for companies only - runs when record is created &amp; updated (after trigger)</description>
    <environments>Default</environments>
    <interviewLabel>Company Account Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Company Account Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update action for all child accounts of the parent record</description>
        <name>Update_Child_Account_Records</name>
        <label>Update Child Account Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Managed__c</field>
            <value>
                <elementReference>$Record.Account_Managed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Client_Potential__c</field>
            <value>
                <elementReference>$Record.Key_Client_Potential__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Client_Bands_Updated</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Business_Development_Account&quot;</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>1500</triggerOrder>
</Flow>
