salesforce-main/src/main/default/flows/Create_Line_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Client_Account_record_with_bypass</name>
        <label>Create Client Account record with bypass</label>
        <locationX>1766</locationX>
        <locationY>1646</locationY>
        <actionName>BypassDuplicateCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Line_managers_Account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordToSave</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__savedRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Client_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>insertOrUpdate</name>
            <value>
                <stringValue>Insert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordToSave</name>
            <value>
                <elementReference>Client_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_LM_record_with_bypass</name>
        <label>Create LM record with bypass</label>
        <locationX>1898</locationX>
        <locationY>2810</locationY>
        <actionName>BypassDuplicateCheck</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Opp_Line_Manager</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__savedRecord</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordToSave</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Line_Manager</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>insertOrUpdate</name>
            <value>
                <stringValue>Insert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordToSave</name>
            <value>
                <elementReference>Line_Manager</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Client_Fields</name>
        <label>Set Client Fields</label>
        <locationX>1634</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Client_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicates_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Manager_Fields</name>
        <label>Set Line Manager Fields</label>
        <locationX>1436</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Line_Manager.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.Preferred_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.Personal_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Line_Manager_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Line_Manager_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Line_Manager_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Line_Manager_Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Line_Manager_Telephone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.Preferred_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Client_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_Manager_values</name>
        <label>Set Line Manager values</label>
        <locationX>1766</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Line_Manager.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Firstname_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastname_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.Personal_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts_with_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_managers_Account</name>
        <label>Set Line manager&apos;s Account</label>
        <locationX>1766</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Line_Manager.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_managers_Account_Duplicate</name>
        <label>Set Line manager&apos;s Account</label>
        <locationX>1502</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Line_Manager.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Duplicates.selectedRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Duplicates.selectedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Line_managers_Account_Selected</name>
        <label>Set Line manager&apos;s Account</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Line_Manager.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matches</name>
        <label>Set Matches</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Line_Manager_Matches</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Manager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Matches</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Line_Manager</name>
        <label>Set Opp Line Manager</label>
        <locationX>1898</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Line_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Line_Manager_Duplicate</name>
        <label>Set Opp Line Manager</label>
        <locationX>1106</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Line_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duplicates.selectedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Line_Manager_Match</name>
        <label>Set Opp Line Manager</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Line_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Manager.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Match</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Has_Duplicates</name>
        <label>Duplicate value selected?</label>
        <locationX>1634</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Create_Client_Account_record_with_bypass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Account_Has_Duplicates_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Duplicates.selectedRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Line_managers_Account_Duplicate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_Manager_Exists</name>
        <label>Check Line Manager Exists</label>
        <locationX>1007</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Matching_Line_Manager_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Line_Manager_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Matches</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_line_manager_fields_set</name>
        <label>Check line manager fields set</label>
        <locationX>1848</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Missing_Info_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aren&apos;t Set</defaultConnectorLabel>
        <rules>
            <name>line_manager_fields_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Line_Manager_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Line_Manager_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Line_Manager_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Line_Manager_Job_Title__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Contact</targetReference>
            </connector>
            <label>Are Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Line_Manager_Set</name>
        <label>Line Manager Set</label>
        <locationX>949</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_line_manager_fields_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Line_Manager_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Line_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opps_Line_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_matches</name>
        <label>Check matches</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Multiple_Matches_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Several</defaultConnectorLabel>
        <rules>
            <name>Single_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Line_Manager_Matches</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Match_Screen</targetReference>
            </connector>
            <label>Single Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Stage</name>
        <label>Check Opp Stage</label>
        <locationX>1951</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Stage_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BPP_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BPP Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Line_Manager_Set</targetReference>
            </connector>
            <label>BPP Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Email_Already_exist</name>
        <label>Does Email Already exist</label>
        <locationX>1766</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Create_LM_record_with_bypass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_with_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Line_Manager_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_value_selected</name>
        <label>Duplicate value selected?</label>
        <locationX>1436</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Line_Manager_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Duplicates_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicates.selectedRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Confirmation_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Client_selected</name>
        <label>Existing Client selected?</label>
        <locationX>1436</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Client_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_new_Client_Account</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Line_managers_Account_Selected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Preferred_Phone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Opportunity.Line_Manager_Telephone__c}), &apos;&apos;, &apos;Mobile&apos;)</expression>
    </formulas>
    <interviewLabel>Create Line Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Line Manager</label>
    <loops>
        <name>Count_Matches</name>
        <label>Count Matches</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Matching_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Matches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_matches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Client_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Development_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>1436</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Line_Manager_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_with_Email</name>
        <label>Get Contacts with Email</label>
        <locationX>1766</locationX>
        <locationY>2594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Email_Already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Contact</name>
        <label>Get Matching Contact</label>
        <locationX>1007</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Line_Manager_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Line_Manager_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1951</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opp_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps_Line_Manager</name>
        <label>Get Opp&apos;s Line Manager</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Line_Manager_Set_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Line_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>1898</locationX>
        <locationY>3026</locationY>
        <connector>
            <targetReference>Line_Manager_Created_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Opp_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Duplicate</name>
        <label>Update Opp</label>
        <locationX>1106</locationX>
        <locationY>2594</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Opp_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Match</name>
        <label>Update Opp</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <faultConnector>
            <targetReference>Error_Opp_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Check_Duplicates</name>
        <label>Check Duplicates</label>
        <locationX>1436</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Duplicate_value_selected</targetReference>
        </connector>
        <fields>
            <name>Duplicates</name>
            <extensionName>c:potentialDuplicates</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contact</name>
                <value>
                    <elementReference>Line_Manager</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Duplicates_Account</name>
        <label>Check Duplicates</label>
        <locationX>1634</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Has_Duplicates</targetReference>
        </connector>
        <fields>
            <name>Account_Duplicates</name>
            <extensionName>c:potentialDuplicates</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>account</name>
                <value>
                    <elementReference>Client_Account</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Confirmation_Screen</name>
        <label>Duplicate Confirmation</label>
        <locationX>1106</locationX>
        <locationY>2378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opp_Line_Manager_Duplicate</targetReference>
        </connector>
        <fields>
            <name>Duplicate_Confirmation_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Selected Line Manager will be linked to the Opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Client_Screen</name>
        <label>Error Screen</label>
        <locationX>2030</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Client_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Error creating Client Account&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Line_Manager</name>
        <label>Error Screen</label>
        <locationX>2426</locationX>
        <locationY>2918</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Line_Manager_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Error creating Line Manager&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>NOT 1</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>DUPLICATES_DETECTED</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Duplicate_error_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The Line Manager you are trying to create has been blocked by duplicate rules, which suggests a suitable Line Manager record already exists. Please return to change the values in the record you wish to create, or contact support if you believe this to be in error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>DUPLICATES_DETECTED</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Line_Manager_0</name>
        <label>Error Screen</label>
        <locationX>1634</locationX>
        <locationY>2810</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Line_Manager_text_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Error creating Line Manager&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The Email provided is already used against an existing contact. Please return to the previous screen and amend the email address before proceeding&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Opp_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Opp_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Error setting Line Manager or Client on Opportunity&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Manager_Confirmation_Screen</name>
        <label>Line Manager Confirmation</label>
        <locationX>1766</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Line_Manager_values</targetReference>
        </connector>
        <fields>
            <name>Confirmation_header_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Line manager will be created with the following details. Please review and change where necessary:﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line_Manager_Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Line_Manager_Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Firstname_text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Line_Manager_First_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>lastname_text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Line_Manager_Last_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Role_text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Line_Manager_Job_Title__c</elementReference>
                    </defaultValue>
                    <fieldText>Job Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Line_Manager_Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Line_Manager_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone_text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Line_Manager_Telephone__c</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Line Manager</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Manager_Created_Screen</name>
        <label>Line Manager Created</label>
        <locationX>1898</locationX>
        <locationY>3134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Created_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Line Manager Created&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Line_Manager.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;{!Line_Manager.FirstName} {!Line_Manager.LastName}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Manager_Set_Screen</name>
        <label>Line Manager Set</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Manager_set_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Line manager already set to:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Get_Opps_Line_Manager.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;{!Get_Opps_Line_Manager.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Info_Screen</name>
        <label>Missing Info</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Missing_Info_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Complete Line Manager Details on review tab&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Multiple_Matches_Screen</name>
        <label>Multiple Matches</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Multi_Match_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Line_Manager_Matches} Contacts found matching line manager email &quot;{!Get_Opportunity.Line_Manager_Email__c}&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Client_Account</name>
        <label>Select Client Account</label>
        <locationX>1436</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Existing_Client_selected</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Client__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_new_Client_Account</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_new_Client_Account</name>
            <dataType>Boolean</dataType>
            <fieldText>Create new Client Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Select an Account or tick create new&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(ISBLANK({!Get_Opportunity.Client__c})) || {!Create_new_Client_Account}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Client_Account.Name</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_new_Client_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Single_Match_Screen</name>
        <label>Single Match</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Opp_Line_Manager_Match</targetReference>
        </connector>
        <fields>
            <name>Single_Match_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Contact already exists with a matching email&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Line_Manager.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;{!Line_Manager.FirstName} {!Line_Manager.LastName}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This will be linked to the Opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stage_Invalid</name>
        <label>Stage Invalid</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Stage_Invalid_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Opportunity must be in BPP Review to change Line Manager&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1825</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Client_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_existing_emails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Line_Manager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Line_Manager_Matches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
