salesforce-main/src/main/default/flows/Customer_Contact_Preferences.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Which object has launched the flow</description>
        <name>Customer_Type</name>
        <label>Customer Type</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StudentAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_Account_GDPR_Details</targetReference>
            </connector>
            <label>Student Account</label>
        </rules>
        <rules>
            <name>Business_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_GDPR_Details</targetReference>
            </connector>
            <label>Business Contact</label>
        </rules>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_GDPR_Details</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Flow that updates the GDPR opt in fields for all relevant objects</description>
    <environments>Default</environments>
    <interviewLabel>Customer Contact Preferences {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Contact Preferences</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update GDPR opt in fields to match the latest submitted preference</description>
        <name>Contact_GDPR_Details</name>
        <label>Contact GDPR Details</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_Notifications_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Media_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update GDPR opt in fields to match the latest submitted preference</description>
        <name>Lead_GDPR_Details</name>
        <label>Lead GDPR Details</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>App_Notifications_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Media_Opt_In__c</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update GDPR opt in fields to match the latest submitted preference</description>
        <name>Student_Account_GDPR_Details</name>
        <label>Student Account GDPR Details</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>App_Notifications_Opt_In__pc</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Opt_In__pc</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Modified__pc</field>
            <value>
                <elementReference>varGDPRModifiedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Opt_In__pc</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Opt_In__pc</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Opt_In__pc</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SMS_Opt_In__pc</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Media_Opt_In__pc</field>
            <value>
                <elementReference>varGDPROptInValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of record that triggered the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>&apos;GDPR Modified&apos; value from the account object (to set the sister contact field for student account)</description>
        <name>varGDPRModifiedValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <description>&apos;GDPR Opt In&apos; value that is set on the record</description>
        <name>varGDPROptInValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Object that has triggered the flow to run, passed in by the parent flow when launching</description>
        <name>varObjectTrigger</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
