salesforce-main/src/main/default/flows/Document_Download.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Document_Download_Service</name>
        <label>Call Document Download Service</label>
        <locationX>226</locationX>
        <locationY>1274</locationY>
        <actionName>DocumentServiceDownloadCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Documents_returned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_all_documents_to_Failed_list</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documents</name>
            <value>
                <elementReference>DocumentsAvailableForDownload</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_current_document_to_failed_list</name>
        <label>Add current document to failed list</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>FailedToOpenDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_all_documents_to_Failed_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_all_documents_to_Failed_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Document_to_Failed_to_open_list</name>
        <label>Add Document to Failed to open list</label>
        <locationX>402</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>FailedToOpenDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_External_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Document_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Document_to_Successfully_opened_list</name>
        <label>Add Document to Successfully opened list</label>
        <locationX>138</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>SuccessfullyOpenedDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_External_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Document_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_document_to_unavaiable_list</name>
        <label>Add document to unavaiable list</label>
        <locationX>642</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DocumentsUnavailableForDownload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Selected_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Selected_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_document_to_Valid_list</name>
        <label>Add document to Valid list</label>
        <locationX>906</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DocumentsAvailableForDownload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Selected_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Selected_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_document</name>
        <label>Assign current document</label>
        <locationX>358</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>Current_External_Document</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_single_matching_document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_single_matching_document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Results_APEX_Variable</name>
        <label>Assign Document Results APEX Variable</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>DocumentResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Document_Download_Service.documentResults</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Document_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Docs</name>
        <label>Set Number of Docs</label>
        <locationX>806</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>NumberOfSelectedDocs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Ids_passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Failed_Docs</name>
        <label>Set Number of Failed Docs</label>
        <locationX>226</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>NumberOfFailedDocs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FailedToOpenDocuments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Documents_opened_successfully</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Opened_Docs</name>
        <label>Set Number of Opened Docs</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>NumberOfOpenedDocs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SuccessfullyOpenedDocuments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Number_of_Failed_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Unavailable_Docs</name>
        <label>Set Number of Unavailable Docs</label>
        <locationX>554</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>NumberOfUnavailableDocs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DocumentsUnavailableForDownload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Number_of_Valid_Docs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Valid_Docs</name>
        <label>Set Number of Valid Docs</label>
        <locationX>554</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>NumberOfValidDocs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DocumentsAvailableForDownload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>At_least_1_valid_document</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Retrieve_only_matching_document</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Retrieve only matching document</label>
        <locationX>270</locationX>
        <locationY>1706</locationY>
        <assignNextValueToReference>currentItem_Retrieve_only_matching_document</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>DocumentsAvailableForDownload</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Retrieve_only_matching_document.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_over_Document_Results.documentId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_over_single_matching_document</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>All_Documents_opened_successfully</name>
        <label>All Documents opened successfully?</label>
        <locationX>226</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Some_Documents_could_not_be_downloaded_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>All_Documents_opened_successfully_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfOpenedDocs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumberOfSelectedDocs</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>At_least_1_valid_document</name>
        <label>At least 1 valid document?</label>
        <locationX>554</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Some_Documents_could_not_be_downloaded_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>At_least_1_valid_document_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfValidDocs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Document_Download_Service</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Ids_passed</name>
        <label>Document Ids passed</label>
        <locationX>806</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Documents_Selected_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Document_Ids_passed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfSelectedDocs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Documents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_is_unavailable</name>
        <label>Document is unavailable?</label>
        <locationX>774</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_document_to_Valid_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Document_is_unavailable_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Selected_Documents.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Selected_Documents.Document_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_over_Selected_Documents.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_document_to_unavaiable_list</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Documents_returned</name>
        <label>Documents returned?</label>
        <locationX>226</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Add_all_documents_to_Failed_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Documents_returned_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Document_Download_Service.documentResults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_Results_APEX_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>URL_Returned</name>
        <label>URL Returned?</label>
        <locationX>270</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Add_Document_to_Failed_to_open_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>URL_Returned_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_Document_Results.responseURL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Url</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Document Download {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Download</label>
    <loops>
        <name>Add_all_documents_to_Failed_list</name>
        <label>Add all documents to Failed list</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <collectionReference>DocumentsAvailableForDownload</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_current_document_to_failed_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Number_of_Failed_Docs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Document_Results</name>
        <label>Loop over Document Results</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <collectionReference>DocumentResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Retrieve_only_matching_document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Number_of_Opened_Docs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Selected_Documents</name>
        <label>Loop over Selected Documents</label>
        <locationX>554</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Selected_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Document_is_unavailable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Number_of_Unavailable_Docs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_single_matching_document</name>
        <label>Loop over single matching document</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <collectionReference>Retrieve_only_matching_document</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_current_document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>URL_Returned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selected_Documents</name>
        <label>Get Selected Documents</label>
        <locationX>554</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Selected_Documents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>External_Document__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_Documents_Selected_Screen</name>
        <label>No Documents Selected</label>
        <locationX>1058</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Documents_Selected_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Documents_Selected_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_Documents_Selected_Title</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;No Documents selected&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>No_Documents_Selected_Text</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Tick the box for the record(s) you want to download in the list&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Return</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_Url</name>
        <label>Open Url</label>
        <locationX>138</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Document_to_Successfully_opened_list</targetReference>
        </connector>
        <fields>
            <name>Open_URL_lwc</name>
            <extensionName>c:openUrl</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>Loop_over_Document_Results.responseURL</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Some_Documents_could_not_be_downloaded_Screen</name>
        <label>Some Documents could not be downloaded</label>
        <locationX>554</locationX>
        <locationY>3290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Some_Documents_could_not_be_downloaded_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Some_Documents_could_not_be_downloaded_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_Documents_to_return_title</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Some Document(s) could not be downloaded&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Successfully_Opened_Documents</name>
            <fieldText>Successfully Opened Documents</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Successfully_Opened_Documents_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Successful_Documents_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>External_Document__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Successfully Opened Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>SuccessfullyOpenedDocuments</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;External_Document_Link__c&quot;,&quot;guid&quot;:&quot;column-8739&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;External Document Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-74e3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-d0c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfOpenedDocs</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Failed_Download_Documents</name>
            <fieldText>Download Failed</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Failed_Download_Documents_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Failed_Download_Documents_Header</name>
                    <fieldText>&lt;p&gt;The following document(s) could not be downloaded. Please contact support if you believe this to be an error.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Valid_Documents_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>External_Document__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Documents unable to be downloaded</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>FailedToOpenDocuments</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;External_Document_Link__c&quot;,&quot;guid&quot;:&quot;column-a725&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;External Document Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-bd16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-e933&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfFailedDocs</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Unavailable_For_Download</name>
            <fieldText>Unavailable For Download</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Unavailable_For_Download_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unavailable_Document_Heading</name>
                    <fieldText>&lt;p&gt;The following Document(s) are unavailable for download. Please try again later for any Pending documents.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Unavailable_Documents_Data_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>External_Document__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Documents unavailable; please try again later.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>DocumentsUnavailableForDownload</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;External_Document_Link__c&quot;,&quot;guid&quot;:&quot;column-4ad2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;External Document Link&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-6471&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-acd8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-d5f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfUnavailableDocs</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Return</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>680</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Number_of_Docs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_External_Document</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Retrieve_only_matching_document</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentResults</name>
        <apexClass>DocumentServiceCalloutResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentsAvailableForDownload</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentsUnavailableForDownload</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentsWithDeletedStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <name>FailedToOpenDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfDeletedDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfFailedDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfOpenedDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfSelectedDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfUnavailableDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfValidDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SuccessfullyOpenedDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
</Flow>
