salesforce-main/src/main/default/flows/Document_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Calls the DocumentServiceUploadCallout.uploadDocument Apex method</description>
        <name>Call_Document_Upload_Service</name>
        <label>Call Document Upload Service</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <actionName>DocumentServiceUploadCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Have_Results_Been_Returned</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentVersionList</name>
            <value>
                <elementReference>Get_ContentVersion_Records</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentsToUpload</name>
            <value>
                <elementReference>DocumentsToBeUploaded</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DocumentServiceUploadCallout</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Adds uploadResults from Apex response to Apex Defined Variable</description>
        <name>Apex_Upload_Results_Assignment</name>
        <label>Apex Upload Results Assignment</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>UploadResults</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Document_Upload_Service.uploadResults</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexResult</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Apex_Results_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds formatted results to ApexResult variable</description>
        <name>ApexResult_Assignment</name>
        <label>ApexResult Assignment</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>ApexResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DocumentDetailTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResultMessage_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds detail entered into Document Detail Screen into a temporary External Document record variable</description>
        <name>External_Document_Record_Assignment</name>
        <label>External Document Record Assignment</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ExternalDocument.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.User_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HubAccountAuth0Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Content_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Content_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Awarding_Institution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qualification_Institution_Lookup.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Qualification_Type_Lookup.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_List_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>External_Document_to_Upload_Collection_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds External Document from previous assignment to record collection</description>
        <name>External_Document_to_Upload_Collection_Assignment</name>
        <label>External Document to Upload Collection Assignment</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>DocumentsToBeUploaded</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExternalDocument</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentUploaded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ContentVersion_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds Hub Account Record Not Found message to FaultMessage</description>
        <name>Fault_Message_Assignment_Hub_Account_Record_Not_Found</name>
        <label>Fault Message Assignment: Hub Account Record Not Found</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to upload Document(s) as the related Student Account does not have an associated Hub Account record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds No Documents Returned message to FaultMessage</description>
        <name>Fault_Message_Assignment_No_Documents_Returned</name>
        <label>Fault Message Assignment: No Documents Returned</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Document(s) failed to Upload.&lt;br&gt;Please contact a System Administrator.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates variables related to missing file and stores entered file details in separate variables</description>
        <name>No_File_Uploaded_Assignment</name>
        <label>No File Uploaded Assignment</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to upload Document as none have been selected.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_ContentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Content_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_DocumentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_DocumentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Document_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets temp External Document record and User inputted file details. Clears reusable collections and resets boolean values to default</description>
        <name>Record_Variable_Assignment</name>
        <label>Record Variable Assignment</label>
        <locationX>611</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>ExternalDocument.Awarding_Institution__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Content_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Country__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Qualification__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Student__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExternalDocument.Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentsToBeUploaded</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_Category</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_ContentType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_DocumentName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileDetail_DocumentType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentUploaded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileNotSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Document_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds ApexResult to ResultMessage</description>
        <name>ResultMessage_Assignment</name>
        <label>ResultMessage Assignment</label>
        <locationX>138</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ResultMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApexResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_Results_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds Hub Account Has No Auth0Id Value message to FaultMessage</description>
        <name>Update_Fault_Message_Hub_Account_Has_No_Auth0Id_Value</name>
        <label>Update Fault Message: Hub Account Has No Auth0Id Value</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to upload Document(s) as the related Student Account&apos;s Hub Account record has no Auth0 Id value.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Document_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates UploadCount variable to the count of the uploaded ContentDocumentIds collection</description>
        <name>Upload_Count_Assignment</name>
        <label>Upload Count Assignment</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UploadCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_File_Been_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Iterates UploadIteration and resets UploadCount variables</description>
        <name>Upload_Variable_Assignment</name>
        <label>Upload Variable Assignment</label>
        <locationX>611</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>UploadIteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UploadCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Variable_Assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>As the UploadIteration variable starts at 0, this limit is the (desired limit - 1)</description>
        <name>UploadFileLimit</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if the User has specified if they want to upload more than one file. If a User has reached the UploadFileLimit, the process will end</description>
        <name>Does_User_Want_To_Upload_More_Files</name>
        <label>Does User Want To Upload More Files?</label>
        <locationX>743</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Results_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Upload_More_Files_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upload_More_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UploadIteration</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UploadFileLimit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Variable_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks that the UploadCount has a value greater than 0.
If it does, the upload process will run. If it doesn&apos;t, the User is taken back to the Document Detail screen.</description>
        <name>Has_File_Been_Uploaded</name>
        <label>Has File Been Uploaded?</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_File_Uploaded_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UploadCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Document_Record_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if Opportunity&apos;s related Account has an associated Hub Account record</description>
        <name>Has_Related_Hub_Account_Record</name>
        <label>Has Related Hub Account Record?</label>
        <locationX>743</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Hub_Account_Record_Not_Found_or_Has_No_Auth0Id_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hub Account Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Hub_Account_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HubAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HubAccountAuth0Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Details</targetReference>
            </connector>
            <label>Hub Account Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if any Content Document records have been retrieved in the previous Get Records component</description>
        <name>Have_Content_Document_Records_Been_Created</name>
        <label>Have Content Document Records Been Created?</label>
        <locationX>743</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Does_User_Want_To_Upload_More_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Content_Document_Records_Created_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Content_Document_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if response from Apex Action contains info in it&apos;s uploadResults variable</description>
        <name>Have_Results_Been_Returned</name>
        <label>Have Results Been Returned?</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Fault_Message_Assignment_No_Documents_Returned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Results_returned_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Document_Upload_Service.uploadResults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Upload_Results_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks Hub Account record exists or, if it does exist, checks if Hub Account record has an Auth0 Id value</description>
        <name>Hub_Account_Record_Not_Found_or_Has_No_Auth0Id_Value</name>
        <label>Hub Account Record Not Found or Has No Auth0Id Value</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hub_Account_Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HubAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fault_Message_Assignment_Hub_Account_Record_Not_Found</targetReference>
            </connector>
            <label>Hub Account Record Not Found</label>
        </rules>
        <rules>
            <name>Hub_Account_Has_No_Auth0Id_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HubAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HubAccountAuth0Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fault_Message_Hub_Account_Has_No_Auth0Id_Value</targetReference>
            </connector>
            <label>Hub Account Has No Auth0Id Value</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ExternalDocumentContentTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Content_Type__c</picklistField>
        <picklistObject>External_Document__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExternalDocumentTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>External_Document__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fxDecisionFormat</name>
        <dataType>String</dataType>
        <expression>IF({!Apex_Results_Loop.inserted} = TRUE, (&apos;&lt;span style=&quot;color:green;display:inline;font-weight: bold;&quot;&gt;&apos; &amp; &apos;Document created.&apos; &amp; &apos;&lt;/span&gt;&apos;), (&apos;&lt;span style=&quot;color:red;display:inline;font-weight: bold;&quot;&gt;&apos; &amp; &apos;Document failed to be created.&apos; &amp; &apos;&lt;/span&gt;&apos;))</expression>
    </formulas>
    <interviewLabel>Document Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Upload</label>
    <loops>
        <description>Loops through the results from the Apex action</description>
        <name>Apex_Results_Loop</name>
        <label>Apex Results Loop</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <collectionReference>UploadResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ApexResult_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Document_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>Deletes all Content Document Records that were retrieved in the Get Records component</description>
        <name>Delete_Content_Document_Records</name>
        <label>Delete Content Document Records</label>
        <locationX>611</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Does_User_Want_To_Upload_More_Files</targetReference>
        </connector>
        <inputReference>Get_Content_Document_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Retrieves any Content Document records that have been created so far</description>
        <name>Get_Content_Document_Records</name>
        <label>Get Content Document Records</label>
        <locationX>743</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Content_Document_Records_Been_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves ContentVersion records via inserted Content Document Id</description>
        <name>Get_ContentVersion_Records</name>
        <label>Get ContentVersion Records</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Document_Upload_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves related Hub Account record</description>
        <name>Get_Hub_Account_Record</name>
        <label>Get Hub Account Record</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Related_Hub_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </filters>
        <object>Hub_Account__c</object>
        <outputAssignments>
            <assignToReference>HubAccountAuth0Id</assignToReference>
            <field>Auth0_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HubAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen for entering information about each file a User is uploading</description>
        <name>Document_Details</name>
        <label>Document Details</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Upload_Count_Assignment</targetReference>
        </connector>
        <fields>
            <name>Document_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Details_Result_Text</name>
                    <fieldText>&lt;p&gt;{!ApexResult}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DocumentUploaded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Details_Instruction_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please populate the following fields for the file you wish to upload:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Content_Type</name>
                    <choiceReferences>ExternalDocumentContentTypeChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FileDetail_ContentType</elementReference>
                    </defaultValue>
                    <fieldText>Content Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Document_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FileDetail_DocumentName</elementReference>
                    </defaultValue>
                    <fieldText>Document Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Category</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FileDetail_Category</elementReference>
                    </defaultValue>
                    <fieldText>Document Category</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Document_Type</name>
                    <choiceReferences>ExternalDocumentTypeChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FileDetail_DocumentType</elementReference>
                    </defaultValue>
                    <fieldText>Document Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Document_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Document_Details_Education_History_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;As your document type relates to Education History, please fill in the following fields:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Document_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDUCATION_HISTORY</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Qualification_Institution_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Qualification_Institution__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please select a Qualification Institution record:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Qualification__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Qualification_Type_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Qualification_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please select a Qualification Type record:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Qualification__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Details_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country_List_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Country_of_Study__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please select a Country record:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Qualification__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Document_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EDUCATION_HISTORY</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Document_Details_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Details_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Document_Details_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Details_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Document_Details_Fault_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FileNotSelected</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Document_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select file to upload</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContentDocumentIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Details_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upload_More_Toggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload more:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes - Once saved, the form will refresh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No - I don&apos;t want to upload more documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;Documents Uploaded: {!UploadIteration}&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows success/failure message to User at the end of the process</description>
        <name>Results_Screen</name>
        <label>Results Screen</label>
        <locationX>875</locationX>
        <locationY>2498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result_Limit_Hit_Text</name>
            <fieldText>&lt;p&gt;You are unable to upload more than {!UploadFileLimit} files in one instance of this pop-up.&lt;/p&gt;&lt;p&gt;If you wish to upload more files, please click the Finish button and then select the Upload Document button from the Opportunity again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UploadIteration</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>UploadFileLimit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Results_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Results_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Results_Success_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Upload File results:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ResultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApexResult</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Results_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Results_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Results_Failure_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Something went wrong:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;{!FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Documents Uploaded: {!UploadIteration}&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hub_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DocumentDetailTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Apex_Results_Loop.documentDetail}: {!fxDecisionFormat}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>ApexResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocumentsToBeUploaded</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <name>DocumentUploaded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ExternalDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>External_Document__c</objectType>
    </variables>
    <variables>
        <description>Fault message to display to the User in case something goes wrong.</description>
        <name>FaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileDetail_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileDetail_ContentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileDetail_DocumentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileDetail_DocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileNotSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HubAccountAuth0Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HubAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Opportunity Record</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UploadIteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UploadResults</name>
        <apexClass>DocumentServiceCalloutResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
