salesforce-main/src/main/default/flows/Hub_Password_Reset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Hub_Password_Reset_Apex</name>
        <label>Hub Password Reset Apex</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>HubAccountPasswordReset</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response_from_Apex_callout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputList</name>
            <value>
                <elementReference>auth0Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varApexResponse</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_error_message</name>
        <label>Assign error message</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong. Password Reset link has not been sent. {!varApexResponse}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_success_message</name>
        <label>Assign success message</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success! Password reset link has been sent to {!hubUsername}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Complete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Response_from_Apex_callout</name>
        <label>Response from Apex callout</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Flow_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success_response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApexResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_success_message</targetReference>
            </connector>
            <label>Success response</label>
        </rules>
        <rules>
            <name>Error_response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApexResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_error_message</targetReference>
            </connector>
            <label>Error response</label>
        </rules>
    </decisions>
    <description>Screen flow to allow user to request a password reset email for a single Hub Account</description>
    <interviewLabel>Hub Account - Password Reset {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Hub Account - Password Reset</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Hub Account record that triggered the flow process</description>
        <name>Get_Hub_Account_Record</name>
        <label>Get Hub Account Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hub_Password_Reset_Apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Hub_Account__c</object>
        <outputAssignments>
            <assignToReference>auth0Id</assignToReference>
            <field>Auth0_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>hubUsername</assignToReference>
            <field>Hub_Username__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Flow_Complete</name>
        <label>Flow Complete</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Response</name>
            <fieldText>&lt;p&gt;{!varResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hub_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>auth0Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hubUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of record triggering the flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApexResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Something went wrong. Password Reset link has not been sent.</stringValue>
        </value>
    </variables>
</Flow>
