salesforce-main/src/main/default/flows/Lead_Fast_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>When lead is created assign the marketing source &apos;Recent&apos; field values to the corresponding marketing source fields</description>
        <name>Assign_Lead_Source_Values</name>
        <label>Assign Lead Source Values</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source_Recent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Subsource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Subsource_Recent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source_Title_Recent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lead_Source_Timestamp_Recent__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Lead Forensics cannot set date/time values, so we need to set &apos;Lead Source Timestamp - Recent&apos; and &apos;GDPR Modified&apos;.
Leads generated by Lead Forensics should be assigned to the Business Engagement Team&apos;.</description>
        <name>Assign_Owner_and_LF_Values</name>
        <label>Assign Owner and LF Values</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.AssignmentUsers__c.Default_BES_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GDPR_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Timestamp_Recent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Source_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>How has the lead been generated?</description>
        <name>Generation_Method</name>
        <label>Generation Method</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Source_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Forensics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Source_Recent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Party Website Traffic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Subsource_Recent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Forensics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_and_LF_Values</targetReference>
            </connector>
            <label>Lead Forensics</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the flow been triggered by a creation an update event?</description>
        <name>Is_Lead_Being_Created</name>
        <label>Is Lead Being Created?</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generation_Method</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>Lead fast record updates (context: before creation/update)</description>
    <environments>Default</environments>
    <interviewLabel>Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Fast Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Lead_Being_Created</targetReference>
        </connector>
        <filterFormula>{!$Setup.FlowSettings__c.Lead_Fast_Updates__c} = False</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
