salesforce-main/src/main/default/flows/Opportunity_Application_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_CAS_Approval_Email</name>
        <label>Send CAS Approval Email</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.CAS_Approved_Email_Automation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_IAO_Requested_Email</name>
        <label>Send IAO Requested Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.CAS_IAO_Requested_Email_Automation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Has CAS Status been updated?</description>
        <name>CAS_Status_Updates</name>
        <label>CAS Status Updates?</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IAO_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAS_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IAO Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_IAO_Requested_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IAO Requested</label>
        </rules>
        <rules>
            <name>Ready_To_Assign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAS_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Assign</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_CAS_Approval_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Ready To Assign</label>
        </rules>
    </decisions>
    <description>Opportunity updates (context: before creation/update)</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Application Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Application Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CAS_Status_Updates</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.Name} = &apos;Application&apos; || {!$Record.RecordType.Name} = &apos;Locked Application&apos;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
