salesforce-main/src/main/default/flows/Quote_Creation_Default_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Add the Billing Delivery Address as the Billing Address on the Quote</description>
        <name>Add_Billing_Address_to_Quote</name>
        <label>Add Billing Address to Quote</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryBillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Billing_Address.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Billing_Address.County_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Billing_Address.Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Billing_Address.Lookup_Country__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_Frequency_and_Billing_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the Primary Delivery Address as the Shipping Address on the Quote</description>
        <name>Add_Shipping_Address_to_Quote</name>
        <label>Add Shipping Address to Quote</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrimaryDeliveryStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Delivery_Address.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Delivery_Address.County_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Delivery_Address.Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Delivery_Address.Lookup_Country__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Primary_Billing_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates Billing Frequency and Billing Type on Quote</description>
        <name>Assign_Billing_Frequency_and_Billing_Type</name>
        <label>Assign Billing Frequency and Billing Type</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountBillingType</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check that a Primary Billing Address record has been found.</description>
        <name>Found_Primary_Billing_Address</name>
        <label>Found Primary Billing Address?</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_Frequency_and_Billing_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Billing_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Billing_Address.Student__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Billing_Address.Primary_Billing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Billing_Address_to_Quote</targetReference>
            </connector>
            <label>Primary Billing Address</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check that a Primary Delivery Address record has been found.</description>
        <name>Found_Primary_Delivery_Address</name>
        <label>Found Primary Delivery Address?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Primary_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Delivery_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Delivery_Address.Student__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Delivery_Address.Primary_Delivery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Shipping_Address_to_Quote</targetReference>
            </connector>
            <label>Primary Delivery Address</label>
        </rules>
    </decisions>
    <description>Updates BillingAddress and ShippingAddress on Quotes during creation</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountBillingType</name>
        <dataType>String</dataType>
        <expression>IF (TEXT({!$Record.SBQQ__Account__r.Billing_Type__c}) == &quot;In Advance&quot;, &quot;In Advance&quot;, &quot;In Arrears&quot;)</expression>
    </formulas>
    <formulas>
        <description>Concatenates Primary Billing Address Street 1, Address Street 2 and Address Street 3 fields</description>
        <name>PrimaryBillingStreet</name>
        <dataType>String</dataType>
        <expression>{!Get_Primary_Billing_Address.Street_1__c} &amp; BR() &amp; {!Get_Primary_Billing_Address.Street_2__c} &amp; BR() &amp;{!Get_Primary_Billing_Address.Street_3__c}</expression>
    </formulas>
    <formulas>
        <description>Concatenates Primary Delivery Address Street 1, Address Street 2 and Address Street 3 fields</description>
        <name>PrimaryDeliveryStreet</name>
        <dataType>String</dataType>
        <expression>{!Get_Primary_Delivery_Address.Street_1__c} &amp; BR() &amp; {!Get_Primary_Delivery_Address.Street_2__c} &amp; BR() &amp;{!Get_Primary_Delivery_Address.Street_3__c}</expression>
    </formulas>
    <interviewLabel>Quote Creation Default Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Creation Default Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Primary Billing address record related to Account</description>
        <name>Get_Primary_Billing_Address</name>
        <label>Get Primary Billing Address</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Primary_Billing_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Billing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Primary Delivery address record related to Account</description>
        <name>Get_Primary_Delivery_Address</name>
        <label>Get Primary Delivery Address</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Primary_Delivery_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Delivery__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Address__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Delivery_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
