salesforce-main/src/main/default/flows/Record_Purge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Any_Queue_Jobs_to_delete</name>
        <label>Any Queue Jobs to delete?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueJobsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Queue_Jobs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>x14DaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-14</expression>
    </formulas>
    <interviewLabel>Record Purge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Purge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Delete identified Queue Jobs</description>
        <name>Delete_Queue_Jobs</name>
        <label>Delete Queue Jobs</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputReference>QueueJobsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Retrieved_Processed_Event_Queue_Jobs_Older_than_14_days</name>
        <label>Retrieved Processed Event Queue Jobs Older than 14 days</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Queue_Jobs_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Channel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>x14DaysAgo</elementReference>
            </value>
        </filters>
        <object>Queue_Job__c</object>
        <outputReference>QueueJobsToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieved_Processed_Event_Queue_Jobs_Older_than_14_days</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-06</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>QueueJobsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Queue_Job__c</objectType>
    </variables>
</Flow>
