salesforce-main/src/main/default/flows/Request_Delivery_Stock_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>varFailureMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Stock has not been allocated to this delivery record. The related stock management record does not currently have sufficient stock available to allocate for this delivery.</stringValue>
        </value>
    </constants>
    <constants>
        <name>varIneligibleMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This delivery record is not currently eligible for stock allocation. This may be because stock has already been allocated or the record is not in a valid status to have stock allocated.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Requested function = &apos;StockAllocation&apos; - run either stock allocation or stock allocation process</description>
        <name>varRequestedFunction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>StockAllocation</stringValue>
        </value>
    </constants>
    <constants>
        <name>varStockErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There is no stock management record available. Unable to attempt stock allocation.</stringValue>
        </value>
    </constants>
    <constants>
        <name>varSuccessMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Stock has been allocated to this delivery record successfully</stringValue>
        </value>
    </constants>
    <constants>
        <name>varUnexpectedErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The has been an unexpected error with the allocation process. Please contact your administrator.</stringValue>
        </value>
    </constants>
    <description>User requests stock allocation for a delivery record - runs Delivery Stock Management Requests flow</description>
    <formulas>
        <description>Outcome of stock allocation attempt to user</description>
        <name>fxOutcomeMessage</name>
        <dataType>String</dataType>
        <expression>Case ( {!varResponse},
&apos;Success&apos;, {!varSuccessMessage},
&apos;Failure&apos;, {!varFailureMessage},
&apos;Ineligible&apos;, {!varIneligibleMessage},
&apos;StockError&apos;, {!varStockErrorMessage},
{!varUnexpectedErrorMessage} &amp; &quot; &quot; &amp; {!varResponse})</expression>
    </formulas>
    <interviewLabel>Request Delivery Stock Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Delivery Stock Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Flow has finished running</description>
        <name>Flow_Completed</name>
        <label>Flow_Completed</label>
        <locationX>176</locationX>
        <locationY>423</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Outcome_Message</name>
            <fieldText>&lt;p&gt;{!fxOutcomeMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Run_Delivery_Stock_Management_Requests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Manual attempt to allocate stock from delivery record - runs Delivery Stock Management Requests flow</description>
        <name>Run_Delivery_Stock_Management_Requests</name>
        <label>Run Delivery Stock Management Requests</label>
        <locationX>176</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Flow_Completed</targetReference>
        </connector>
        <flowName>Delivery_Stock_Management_Requests</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRequestedFunction</name>
            <value>
                <elementReference>varRequestedFunction</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varResponse</assignToReference>
            <name>varResponse</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Response from sub-processes attempting stock allocation</description>
        <name>varResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
