salesforce-main/src/main/default/flows/Student_Account_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send student care leave email</description>
        <name>Send_Care_Leaver_Email</name>
        <label>Send Care Leaver Email</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Local_Authority_Care_Updated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>learningsupport@bpp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X0X000000z7ZHUAY</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Email providing student with learning support info</description>
        <name>Send_Learning_Support_Welcome_Email</name>
        <label>Send Learning Support Welcome Email</label>
        <locationX>270</locationX>
        <locationY>1331</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_As_Care_Leaver</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_As_Care_Leaver</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>learningsupport@bpp.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X67000000S6ErEAK</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Local_Authority_Care_Updated</name>
        <label>Local Authority Care Updated</label>
        <locationX>446</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Field Has Not Been Set</defaultConnectorLabel>
        <rules>
            <name>Field_Has_Been_Set_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Local_Authority_Care__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Experience_Yes</targetReference>
            </connector>
            <label>Field Has Been Set Yes</label>
        </rules>
        <rules>
            <name>Field_Has_Been_Set_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Local_Authority_Care__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Experience_No</targetReference>
            </connector>
            <label>Field Has Been Set No</label>
        </rules>
        <rules>
            <name>Field_Has_Been_Set_Prefer_Not_To_Say</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Local_Authority_Care__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prefer not to say</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Experience_Prefer_Not_To_Say</targetReference>
            </connector>
            <label>Field Has Been Set Prefer Not To Say</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has there been a new learning support requirement added to the &apos;Disability (HESA)&apos; field?</description>
        <name>New_Learning_Support_Requirement</name>
        <label>New Learning Support Requirement?</label>
        <locationX>446</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Set_As_Care_Leaver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_LS_Requirement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFDC_Disability_Type_Code_Select__pc</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0~ No Known Disability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Disability_Type_Code_Select__pc</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>95~ No known impairment, health condition or learning difference</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Disability_Type_Code_Select__pc</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>98~ Prefer not to say</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Disability_Type_Code_Select__pc</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>99~ Not Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFDC_Disability_Type_Code_Select__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_As_Care_Leaver</targetReference>
            </connector>
            <label>No LS Requirement</label>
        </rules>
        <rules>
            <name>New_LS_Requirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SFDC_Disability_Type_Code_Select__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SFDC_Disability_Type_Code_Select__pc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Learning_Support_Welcome_Email</targetReference>
            </connector>
            <label>New LS Requirement</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the Care Experience Status been set as Care Leaver?</description>
        <name>Set_As_Care_Leaver</name>
        <label>Set As Care Leaver?</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Local_Authority_Care_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Care_Leaver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Care_Experience_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Care_Experience_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Care_Experience_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06~ Care leaver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Care_Leaver_Email</targetReference>
            </connector>
            <label>Care Leaver</label>
        </rules>
    </decisions>
    <decisions>
        <description>Have the email / phone preferences or values been updated?</description>
        <name>Student_Contact_Details_Updated</name>
        <label>Student Contact Details Updated</label>
        <locationX>446</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>New_Learning_Support_Requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Values_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_Email__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Preferred_Email__pc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preferred_Phone__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Preferred_Phone__pc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Email__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Personal_Email__pc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BPP_Email__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BPP_Email__pc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Email__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Work_Email__pc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Other_Email__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Other_Email__pc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonHomePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonHomePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonMobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonMobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Phone__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Work_Phone__pc</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PersonOtherPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PersonOtherPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Student_Contact_Details</targetReference>
            </connector>
            <label>Contact Values Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Have new contact preferences been submitted (via a central process updating &apos;GDPR Opt In&apos; &amp; &apos;GDPR Modified&apos; fields)?</description>
        <name>Student_Contact_Preferences_Updated</name>
        <label>Student Contact Preferences Updated</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Student_Contact_Details_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Preferences_Updated</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GDPR_Modified__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GDPR_Modified__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.GDPR_Modified__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Student_Contact_Preferences</targetReference>
            </connector>
            <label>Contact Preferences Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the student has been set to Do Not Contact then this may result in limited functionality. All contact preferences should be set to opted out.</description>
        <name>Student_Set_To_Do_Not_Contact</name>
        <label>Student Set To Do Not Contact?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Student_Contact_Preferences_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Contact_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DO_NOT_CONTACT__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DO_NOT_CONTACT__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DO_NOT_CONTACT__pc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_Out_Contact_Preferences</targetReference>
            </connector>
            <label>Do Not Contact Student</label>
        </rules>
    </decisions>
    <description>Student account updates (context: after creation/update)</description>
    <environments>Default</environments>
    <interviewLabel>Student Account Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Account Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Set the GDPR preferences to opted out</description>
        <name>Opt_Out_Contact_Preferences</name>
        <label>Opt Out Contact Preferences</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Student_Contact_Preferences_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>GDPR_Modified__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Opt_In__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Experience_No</name>
        <label>Update Care Experience No</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Care_Experience_Status__c</field>
            <value>
                <stringValue>09~ No experience of care</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Experience_Prefer_Not_To_Say</name>
        <label>Update Care Experience Prefer Not To Say</label>
        <locationX>578</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Care_Experience_Status__c</field>
            <value>
                <stringValue>98~ Prefer not to say</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Experience_Yes</name>
        <label>Update Care Experience Yes</label>
        <locationX>50</locationX>
        <locationY>1979</locationY>
        <inputAssignments>
            <field>Care_Experience_Status__c</field>
            <value>
                <stringValue>08~ Self-declared care experience but not confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Student_Set_To_Do_Not_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Cleans UK phone number details. Sets phone &amp; email values according to the preferred options</description>
        <name>Process_Student_Contact_Details</name>
        <label>Process Student Contact Details</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>New_Learning_Support_Requirement</targetReference>
        </connector>
        <flowName>Customer_Contact_Details_Updated</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBPPEmail</name>
            <value>
                <elementReference>$Record.BPP_Email__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmail</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHomePhone</name>
            <value>
                <elementReference>$Record.PersonHomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMobilePhone</name>
            <value>
                <elementReference>$Record.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectTrigger</name>
            <value>
                <stringValue>StudentAccount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOtherEmail</name>
            <value>
                <elementReference>$Record.Other_Email__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOtherPhone</name>
            <value>
                <elementReference>$Record.PersonOtherPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPersonalEmail</name>
            <value>
                <elementReference>$Record.Personal_Email__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPhone</name>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPreferredEmail</name>
            <value>
                <elementReference>$Record.Preferred_Email__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPreferredPhone</name>
            <value>
                <elementReference>$Record.Preferred_Phone__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkEmail</name>
            <value>
                <elementReference>$Record.Work_Email__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWorkPhone</name>
            <value>
                <elementReference>$Record.Work_Phone__pc</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Runs process to update GDPR opt in fields</description>
        <name>Update_Student_Contact_Preferences</name>
        <label>Update Student Contact Preferences</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Student_Contact_Details_Updated</targetReference>
        </connector>
        <flowName>Customer_Contact_Preferences</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGDPRModifiedValue</name>
            <value>
                <elementReference>$Record.GDPR_Modified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varGDPROptInValue</name>
            <value>
                <elementReference>$Record.GDPR_Opt_In__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectTrigger</name>
            <value>
                <stringValue>StudentAccount</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>400</triggerOrder>
</Flow>
