salesforce-main/src/main/default/flows/Task_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Is the task related to a lead or contact?</description>
        <name>Parent_Relationship_Object_Contact_Request</name>
        <label>Parent Relationship Object</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Contact_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxWhoObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_engage_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact_Contact_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxWhoObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Callback_Task_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the task related to a lead or contact?</description>
        <name>Parent_Relationship_Object_NVM</name>
        <label>Parent Relationship Object</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_NVM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxWhoObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Outcome_Lead_Updates</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact_NVM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxWhoObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which type of task has been created</description>
        <name>Type_of_Task</name>
        <label>Type of Task</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Voice_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NVM_Call_Log</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Relationship_Object_NVM</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Voice Media</label>
        </rules>
        <rules>
            <name>Contact_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Relationship_Object_Contact_Request</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Contact Request</label>
        </rules>
    </decisions>
    <description>Task updates (context: after creation/update)</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculate Subject field from source task with Callback: prefix</description>
        <name>fxCallbackSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Callback: &quot; &amp; RIGHT( {!$Record.Subject}, LEN( {!$Record.Subject})-5)</expression>
    </formulas>
    <formulas>
        <description>Evaluates WhoId (Name) to determine if the task is associated with a lead or contact record</description>
        <name>fxWhoObject</name>
        <dataType>String</dataType>
        <expression>IF( LEFT( {!$Record.WhoId},3) = &quot;00Q&quot;, &quot;Lead&quot;, &quot;Contact&quot;)</expression>
    </formulas>
    <interviewLabel>Task Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update lead record Status to Re-engaged</description>
        <name>Re_engage_Lead</name>
        <label>Re-engage Lead</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Create_Callback_Task_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Further Action</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Status_Detail__c</field>
            <value>
                <stringValue>Contact Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Re-engaged</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Task</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Update lead V2V &amp; cycle stage based on call outcome</description>
        <name>Call_Outcome_Lead_Updates</name>
        <label>Call Outcome Lead Updates</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <flowName>NVM_Triggered_Lead_Updates</flowName>
        <inputAssignments>
            <name>varCallOutcome</name>
            <value>
                <elementReference>$Record.Call_Outcome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCallOutcomeReason</name>
            <value>
                <elementReference>$Record.Call_Outcome_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Create callback task</description>
        <name>Create_Callback_Task_Contact</name>
        <label>Create Callback Task</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <flowName>Callback_Task_Creation</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMasterObject</name>
            <value>
                <elementReference>fxWhoObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>fxCallbackSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhatId</name>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Create callback task</description>
        <name>Create_Callback_Task_Lead</name>
        <label>Create Callback Task</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <flowName>Callback_Task_Creation</flowName>
        <inputAssignments>
            <name>varDescription</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDueDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varMasterObject</name>
            <value>
                <elementReference>fxWhoObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubject</name>
            <value>
                <elementReference>fxCallbackSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varWhoId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
