salesforce-main/src/main/default/flows/Update_Lead_Contact_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assigns the email address &amp; phone number into variables calculated from the preferred options selected on the record</description>
        <name>Assign_Preferred_Email_Phone_Values</name>
        <label>Assign Preferred Email &amp; Phone Values</label>
        <locationX>152</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>varPreferredEmailValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcPreferredEmailValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreferredPhoneValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcPreferredPhoneValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clean all phone number fields (UK mobile numbers only) into E.164 (+44) format</description>
        <name>CleanUKPhoneNumbers</name>
        <label>CleanUKPhoneNumbers</label>
        <locationX>154</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>RevTriggerLead.Home_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CleanHomePhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevTriggerLead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CleanMobileNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevTriggerLead.Work_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CleanWorkPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Preferred_Email_Phone_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is the preferred phone number a UK mobile number?</description>
        <name>Preferred_Phone_UK_Mobile_Number</name>
        <label>Preferred Phone = UK Mobile Number?</label>
        <locationX>291</locationX>
        <locationY>443</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPreferredPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPreferredPhoneValue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+447</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Mobile_Number</targetReference>
            </connector>
            <label>Mobile Number</label>
        </rules>
    </decisions>
    <description>Updates master email &amp; phone details with the selected preferred options. If mobile number is identified the Mobile field is also populated</description>
    <formulas>
        <description>Uses varPreferredEmail to select the corresponding email address from the lead</description>
        <name>CalcPreferredEmailValue</name>
        <dataType>String</dataType>
        <expression>CASE({!varPreferredEmail},
&apos;Personal&apos;, {!RevTriggerLead.Personal_Email__c}, 
&apos;Work&apos;, {!RevTriggerLead.Work_Email__c}, 
&apos;Other&apos;, {!RevTriggerLead.Other_Email__c}, 
&apos;&apos;, &apos;&apos;, 
{!RevTriggerLead.Email} )</expression>
    </formulas>
    <formulas>
        <description>Uses varPreferredPhone to select the corresponding phone number from the lead</description>
        <name>CalcPreferredPhoneValue</name>
        <dataType>String</dataType>
        <expression>CASE( {!varPreferredPhone}, 
&apos;Work&apos;, {!RevTriggerLead.Work_Phone__c}, 
&apos;Mobile&apos;, {!RevTriggerLead.MobilePhone}, 
&apos;Home&apos;, {!RevTriggerLead.Home_Phone__c}, 
&apos;&apos;,&apos;&apos;,
{!RevTriggerLead.Phone} )</expression>
    </formulas>
    <formulas>
        <description>Cleans lead&apos;s home UK phone number into the E.164 (+44) format</description>
        <name>CleanHomePhoneNumber</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!RevTriggerLead.Home_Phone__c},2),
&quot;+4&quot;, {!RevTriggerLead.Home_Phone__c}, 
&quot;44&quot;, &quot;+&quot; &amp; {!RevTriggerLead.Home_Phone__c}, 
&quot;07&quot;, &quot;+44&quot; &amp; Right({!RevTriggerLead.Home_Phone__c},Len({!RevTriggerLead.Home_Phone__c})-1), 
{!RevTriggerLead.Home_Phone__c})</expression>
    </formulas>
    <formulas>
        <description>Cleans lead&apos;s mobile UK phone number into the E.164 (+44) format</description>
        <name>CleanMobileNumber</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!RevTriggerLead.MobilePhone},2),
&quot;+4&quot;, {!RevTriggerLead.MobilePhone}, 
&quot;44&quot;, &quot;+&quot; &amp; {!RevTriggerLead.MobilePhone}, 
&quot;07&quot;, &quot;+44&quot; &amp; Right({!RevTriggerLead.MobilePhone},Len({!RevTriggerLead.MobilePhone})-1), 
{!RevTriggerLead.MobilePhone})</expression>
    </formulas>
    <formulas>
        <description>Cleans lead&apos;s work UK phone number into the E.164 (+44) format</description>
        <name>CleanWorkPhoneNumber</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!RevTriggerLead.Work_Phone__c},2),
&quot;+4&quot;, {!RevTriggerLead.Work_Phone__c}, 
&quot;44&quot;, &quot;+&quot; &amp; {!RevTriggerLead.Work_Phone__c}, 
&quot;07&quot;, &quot;+44&quot; &amp; Right({!RevTriggerLead.Work_Phone__c},Len({!RevTriggerLead.Work_Phone__c})-1), 
{!RevTriggerLead.Work_Phone__c})</expression>
    </formulas>
    <interviewLabel>Update Lead Contact Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Lead Contact Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtain the variables from the account record to use in the flow</description>
        <name>Get_Email_Phone_Contact_Details</name>
        <label>Get Email &amp; Phone Contact Details</label>
        <locationX>155</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CleanUKPhoneNumbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>RevTriggerLead.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevTriggerLead.Home_Phone__c</assignToReference>
            <field>Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevTriggerLead.MobilePhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevTriggerLead.Other_Email__c</assignToReference>
            <field>Other_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevTriggerLead.Personal_Email__c</assignToReference>
            <field>Personal_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevTriggerLead.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevTriggerLead.Work_Email__c</assignToReference>
            <field>Work_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RevTriggerLead.Work_Phone__c</assignToReference>
            <field>Work_Phone__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Populate Mobile lead field with the master mobile number</description>
        <name>Populate_Mobile_Number</name>
        <label>Populate Mobile Number</label>
        <locationX>299</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>varPreferredPhoneValue</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update contact fields on lead record</description>
        <name>Update_Lead_Contact_Details</name>
        <label>Update Lead Contact Details</label>
        <locationX>151</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Preferred_Phone_UK_Mobile_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varPreferredEmailValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>RevTriggerLead.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>RevTriggerLead.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varPreferredPhoneValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>RevTriggerLead.Work_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Get_Email_Phone_Contact_Details</startElementReference>
    <status>Active</status>
    <variables>
        <description>Variables for lead record that triggered the flow process</description>
        <name>RevTriggerLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>ID of the lead record that triggered the process</description>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Student&apos;s preferred email address</description>
        <name>varPreferredEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Email address of the preferred email option</description>
        <name>varPreferredEmailValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Student&apos;s preferred phone contact method</description>
        <name>varPreferredPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Phone number of the preferred phone option</description>
        <name>varPreferredPhoneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
