salesforce-main/src/main/default/flows/Vat_Exempt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignTaxrule</name>
        <label>AssignTaxrule</label>
        <locationX>126</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>Taxruleupdate.Tax_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a5367000000RmSZAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taxruleupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQuoteLines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigntocollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTaxrule_0</name>
        <label>AssignTaxrule</label>
        <locationX>452</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>Taxruleupdate.Tax_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQuoteLines.BPP_Previous_Tax_Rule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Taxruleupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQuoteLines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigntocollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigntocollection</name>
        <label>Assigntocollection</label>
        <locationX>594</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Taxruleupdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuoteLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_quote</name>
        <label>check quote</label>
        <locationX>677</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>quoteIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteLines</targetReference>
            </connector>
            <label>quoteIdNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_quote_lineI_team</name>
        <label>check quote lineI team</label>
        <locationX>884</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>quotelineIteam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuoteLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQuoteLines</targetReference>
            </connector>
            <label>quotelineIteam</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tax_exempt</name>
        <label>Tax exempt?</label>
        <locationX>347</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>AssignTaxrule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Taxexempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BPP_VAT_Exempt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTaxrule</targetReference>
            </connector>
            <label>Taxexempt</label>
        </rules>
    </decisions>
    <interviewLabel>Vat Exempt? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vat Exempt?</label>
    <loops>
        <name>LoopQuoteLines</name>
        <label>LoopQuoteLines</label>
        <locationX>623</locationX>
        <locationY>307</locationY>
        <collectionReference>getQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tax_exempt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateQuoteLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Quote</name>
        <label>get Quote</label>
        <locationX>519</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Ordered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>quoteId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQuoteLines</name>
        <label>getQuoteLines</label>
        <locationX>890</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_quote_lineI_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuoteLines</name>
        <label>UpdateQuoteLines</label>
        <locationX>914</locationX>
        <locationY>477</locationY>
        <inputReference>QuoteLineCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BPP_VAT_Exempt__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Taxruleupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
