salesforce-main/src/main/default/flows/X4C_BPP_RevSchedBeforeSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_BL_ACC_to_RS_ACC_0</name>
        <label>Set BL ACC to RS ACC</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Booking_Line__r.blng_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DL_ACC_to_RS_ACC</name>
        <label>Set DL ACC to RS ACC</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery__r.Booking_Line__r.blng_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Booking_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery__r.Booking_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Product_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rep_OP_to_BL_OP</name>
        <label>Set Rep OP to BL OP</label>
        <locationX>594</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.BPP_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Booking_Line__r.blng_OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Rep_OP_to_CN_OP</name>
        <label>Set Rep OP to CN OP</label>
        <locationX>858</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.BPP_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__CreditNoteLine__r.blng__InvoiceLine__r.blng__OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Rep_OP_to_Del_OP</name>
        <label>Set Rep OP to Del OP</label>
        <locationX>330</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.BPP_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Delivery__r.Order_Product__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Rep_OP_to_OP</name>
        <label>Set Rep OP to OP</label>
        <locationX>66</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.BPP_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__OrderProduct__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Credit_Note_Line_Inv_Line_Set</name>
        <label>Credit Note Line Invoice Line Set?</label>
        <locationX>990</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>CN_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteLine__r.blng__InvoiceLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rep_OP_to_CN_OP</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Booking_Line_Set</name>
        <label>Booking Line Set?</label>
        <locationX>792</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Credit_Note_Line_Inv_Line_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>BL_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rep_OP_to_BL_OP</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Delivery_set</name>
        <label>Delivery set?</label>
        <locationX>561</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Is_Booking_Line_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Delivery_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rep_OP_to_Del_OP</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Product_set</name>
        <label>Order Product set?</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Is_Delivery_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>OP_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__OrderProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rep_OP_to_OP</targetReference>
            </connector>
            <label>Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Session_or_Material</name>
        <label>Session or Material?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Order_Product_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BL_ACC_to_RS_ACC_0</targetReference>
            </connector>
            <label>Session?</label>
        </rules>
        <rules>
            <name>Material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DL_ACC_to_RS_ACC</targetReference>
            </connector>
            <label>Material?</label>
        </rules>
    </decisions>
    <interviewLabel>4C_BPP RevSchedBeforeSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>4C_BPP RevSchedBeforeSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Session_or_Material</targetReference>
        </connector>
        <object>blng__RevenueSchedule__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
