salesforce-main/src/main/default/flows/X4C_BPP_AutomatedCreditNoteProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Tax_to_Credit_Note</name>
        <label>Apply Tax to Credit Note</label>
        <locationX>1840</locationX>
        <locationY>543</locationY>
        <actionName>ApplyTaxCreditNote</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditNoteIds</name>
            <value>
                <elementReference>Create_Credit_Note</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_CreateCreditNoteLine_to_False</name>
        <label>Assign CreateCreditNoteLine to False</label>
        <locationX>752</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>CreateCreditNoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Credit_Note_Line_be_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CreateCreditNoteLine_to_True</name>
        <label>Assign CreateCreditNoteLine to True</label>
        <locationX>984</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>CreateCreditNoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Credit_Note_Line_be_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_credit_note_line_information_from_booking_line</name>
        <label>Assign credit note line information from booking line</label>
        <locationX>1440</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.blng__OrderProduct__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__Subtotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.TECH_BookingCreditAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__CreditNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.blng__OrderProduct__r.blng__LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.blng__OrderProduct__r.blng__TaxCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.blng__OrderProduct__r.blng__BillingRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.blng__OrderProduct__r.blng__TaxRule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_invoice_paid_in_full_or_in_part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_invoice_line_for_allocation</name>
        <label>Assign invoice line for allocation</label>
        <locationX>1578</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__InvoiceLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.blng__UsageSummary__r.blng__InvoiceLine__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Credit_Note_Line_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temp_Delivery_record</name>
        <label>Assign Temp Delivery record</label>
        <locationX>751</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>TempDeliveryRecord.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.Booking_Line__r.Delivery__r.Delivery_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDeliveryRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Thru_Booking_Lines.Booking_Line__r.Delivery__r.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Delivery_Status_and_Cancellation_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Credit_Note_Line_List</name>
        <label>Assign to Credit Note Line List</label>
        <locationX>1313</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>CreditNoteLinesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCreditNoteLineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Booking_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inv_Status</name>
        <label>Set Inv Status</label>
        <locationX>510</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>InvoiceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_first_invoice_status_total_and_balance.blng__UsageSummary__r.blng__Invoice__r.blng__InvoiceStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_first_invoice_status_total_and_balance.blng__UsageSummary__r.blng__Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceBalance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_first_invoice_status_total_and_balance.blng__UsageSummary__r.blng__Invoice__r.blng__Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_first_invoice_status_total_and_balance.blng__UsageSummary__r.blng__Invoice__r.blng__TotalAmount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Delivery_Status_and_Cancellation_Action</name>
        <label>Check Delivery Status and Cancellation Action</label>
        <locationX>743</locationX>
        <locationY>769</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatched_Delivery_Credit_Dispatched_Materials</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>BookingCancellationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Fulfilled Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_True</targetReference>
            </connector>
            <label>Dispatched Delivery - Credit Dispatched Materials</label>
        </rules>
        <rules>
            <name>E_Delivery_Credit_Dispatched_Materials</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>TempDeliveryRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012g0000000AQ21AAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_True</targetReference>
            </connector>
            <label>E-Delivery - Credit Dispatched Materials</label>
        </rules>
        <rules>
            <name>Not_Dispatched_Credit_Dispatched_Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_True</targetReference>
            </connector>
            <label>Not Dispatched - Credit Dispatched Materials</label>
        </rules>
        <rules>
            <name>Physical_Dont_Credit_Dispatched_Materials</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>BookingCancellationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t Credit Fulfilled Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012g0000000AQ26AAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_False</targetReference>
            </connector>
            <label>Physical - Dont Credit Dispatched Materials</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Advance_Criteria</name>
        <label>Check In Advance Criteria</label>
        <locationX>1008</locationX>
        <locationY>264</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ok_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BPP_Cancellation_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Note</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Arrears_Criteria</name>
        <label>Check In Arrears Criteria</label>
        <locationX>1009</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BPP_Instance_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BPP_Cancellation_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Note</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check that balance still equals total - if not, there has been some payment or credit already, do not allocate.</description>
        <name>Is_invoice_paid_in_full_or_in_part</name>
        <label>Is invoice paid (in full or in part)?</label>
        <locationX>1432</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Credit_Note_Line_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Allocate</defaultConnectorLabel>
        <rules>
            <name>Allocate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceBalance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>invoiceTotal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_invoice_line_for_allocation</targetReference>
            </connector>
            <label>Allocate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Credit_Note_Line_be_created</name>
        <label>Should Credit Note Line be created?</label>
        <locationX>1162</locationX>
        <locationY>952</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Create_Credit_Note_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateCreditNoteLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_credit_note_line_information_from_booking_line</targetReference>
            </connector>
            <label>Do Create Credit Note Line</label>
        </rules>
        <rules>
            <name>Do_Not_Create_Credit_Note_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateCreditNoteLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Booking_Lines</targetReference>
            </connector>
            <label>Do Not Create Credit Note Line</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_found</name>
        <label>Status found</label>
        <locationX>660</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Get_first_invoice_status_total_and_balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not set</defaultConnectorLabel>
        <rules>
            <name>Status_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_s_the_Billing_Type</targetReference>
            </connector>
            <label>Status set</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_s_the_Billing_Type</name>
        <label>What&apos;s the Billing Type?</label>
        <locationX>830</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Arrears</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BPP_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Arrears</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_Arrears_Criteria</targetReference>
            </connector>
            <label>In Arrears</label>
        </rules>
        <rules>
            <name>In_Advance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BPP_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Advance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_Advance_Criteria</targetReference>
            </connector>
            <label>In Advance</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Booking_Line</name>
        <label>What Type of Booking Line?</label>
        <locationX>976</locationX>
        <locationY>548</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Material_Booking_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Booking_Lines.Booking_Line__r.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Temp_Delivery_record</targetReference>
            </connector>
            <label>Material Booking Line</label>
        </rules>
        <rules>
            <name>Session_Booking_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Thru_Booking_Lines.Booking_Line__r.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_True</targetReference>
            </connector>
            <label>Session Booking Line</label>
        </rules>
    </decisions>
    <description>This flow has been created to automate the credit note process (NEW VERSION WITHOUT ALLOCATION FOR PAID INVOICES)</description>
    <interviewLabel>4C_BPP AutomatedCreditNoteProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>4C_BPP AutomatedCreditNoteProcess</label>
    <loops>
        <name>Get_first_invoice_status_total_and_balance</name>
        <label>Get first invoice status, total and balance</label>
        <locationX>508</locationX>
        <locationY>241</locationY>
        <collectionReference>Get_Booking_Line_Usage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Inv_Status</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Booking_Lines</name>
        <label>Loop Thru Booking Lines</label>
        <locationX>1180</locationX>
        <locationY>541</locationY>
        <collectionReference>Get_Booking_Line_Usage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Type_of_Booking_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Note_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This will create a credit note record for the appropriate student and will fill in all mandatory fields</description>
        <name>Create_Credit_Note</name>
        <label>Create Credit Note</label>
        <locationX>1180</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Loop_Thru_Booking_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>BPP_Booking__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPP_Credit_Note_Reason__c</field>
            <value>
                <stringValue>Automated Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Account__c</field>
            <value>
                <elementReference>$Record.TECH_StudentClient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__CreditNoteDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__EffectiveTaxDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__RelatedInvoice__c</field>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </inputAssignments>
        <object>blng__CreditNote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Note_Lines</name>
        <label>Create Credit Note Lines</label>
        <locationX>1706</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Apply_Tax_to_Credit_Note</targetReference>
        </connector>
        <inputReference>CreditNoteLinesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking_Line_Usage</name>
        <label>Get Booking Line Usage</label>
        <locationX>387</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_first_invoice_status_total_and_balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>26</locationX>
        <locationY>149</locationY>
        <connector>
            <targetReference>Get_Booking_Line_Usage</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012g000000070QpAAI</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>BookingCancellationAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.BPP_Cancellation_Action__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CreateCreditNoteLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditNoteLinesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__CreditNoteLine__c</objectType>
    </variables>
    <variables>
        <name>invoiceBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TempCreditNoteLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__CreditNoteLine__c</objectType>
    </variables>
    <variables>
        <name>TempDeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery__c</objectType>
    </variables>
</Flow>
