salesforce-main/src/main/default/flows/X4C_BPP_AutomatedCreditNoteProcess_for_Material_Bookings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Tax_to_Credit_Note</name>
        <label>Apply Tax to Credit Note</label>
        <locationX>1558</locationX>
        <locationY>304</locationY>
        <actionName>ApplyTaxCreditNote</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditNoteIds</name>
            <value>
                <elementReference>Create_Credit_Note</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_CreateCreditNoteLine_to_False</name>
        <label>Assign CreateCreditNoteLine to False</label>
        <locationX>610</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>CreateCreditNoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Credit_Note_Line_be_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CreateCreditNoteLine_to_True</name>
        <label>Assign CreateCreditNoteLine to True</label>
        <locationX>892</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>CreateCreditNoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Credit_Note_Line_be_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_credit_note_line_information_from_booking_line</name>
        <label>Assign credit note line information from booking line</label>
        <locationX>1444</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.blng_OrderProduct__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__Subtotal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaterialSubTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__CreditNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Note</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.blng_OrderProduct__r.blng__LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.blng_OrderProduct__r.blng__TaxCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.blng_OrderProduct__r.blng__BillingRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.blng_OrderProduct__r.blng__TaxRule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_invoice_paid_in_full_or_in_part</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_invoice_line_for_allocation</name>
        <label>Assign invoice line for allocation</label>
        <locationX>1926</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>TempCreditNoteLineRecord.blng__InvoiceLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceLines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Credit_Note_Line_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Temp_Delivery_record</name>
        <label>Assign Temp Delivery record</label>
        <locationX>630</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>TempDeliveryRecord.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.Delivery__r.Delivery_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDeliveryRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.Delivery__r.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Delivery_Status_and_Cancellation_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Credit_Note_Line_List</name>
        <label>Assign to Credit Note Line List</label>
        <locationX>1405</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>CreditNoteLinesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCreditNoteLineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Booking_line_iteams</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Delivery_Status_and_Cancellation_Action</name>
        <label>Check Delivery Status and Cancellation Action</label>
        <locationX>586</locationX>
        <locationY>774</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dispatched_Delivery_Credit_Dispatched_Materials</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>BookingCancellationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Fulfilled Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_True</targetReference>
            </connector>
            <label>Dispatched Delivery - Credit Dispatched Materials</label>
        </rules>
        <rules>
            <name>E_Delivery_Credit_Dispatched_Materials</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>TempDeliveryRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012g0000000AQ21AAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_True</targetReference>
            </connector>
            <label>E-Delivery - Credit Dispatched Materials</label>
        </rules>
        <rules>
            <name>Not_Dispatched_Credit_Dispatched_Materials</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_True</targetReference>
            </connector>
            <label>Not Dispatched - Credit Dispatched Materials</label>
        </rules>
        <rules>
            <name>Physical_Dont_Credit_Dispatched_Materials</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>BookingCancellationAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Don&apos;t Credit Fulfilled Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012g0000000AQ26AAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Fulfilment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TempDeliveryRecord.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateCreditNoteLine_to_False</targetReference>
            </connector>
            <label>Physical - Dont Credit Dispatched Materials</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Advance_Criteria</name>
        <label>Check In Advance Criteria</label>
        <locationX>800</locationX>
        <locationY>146</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ok_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BPP_Cancellation_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Note</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_In_Arrears_Criteria</name>
        <label>Check In Arrears Criteria</label>
        <locationX>798</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BPP_Instance_End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BPP_Cancellation_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Note</targetReference>
            </connector>
            <label>Ok</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check that balance still equals total - if not, there has been some payment or credit already, do not allocate.</description>
        <name>Is_invoice_paid_in_full_or_in_part</name>
        <label>Is invoice paid (in full or in part)?</label>
        <locationX>1702</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Credit_Note_Line_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Allocate</defaultConnectorLabel>
        <rules>
            <name>Allocate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invoiceBalance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>invoiceTotal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInvoiceLines</targetReference>
            </connector>
            <label>Allocate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Credit_Note_Line_be_created</name>
        <label>Should Credit Note Line be created?</label>
        <locationX>1119</locationX>
        <locationY>943</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Create_Credit_Note_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateCreditNoteLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_credit_note_line_information_from_booking_line</targetReference>
            </connector>
            <label>Do Create Credit Note Line</label>
        </rules>
        <rules>
            <name>Do_Not_Create_Credit_Note_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateCreditNoteLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Booking_line_iteams</targetReference>
            </connector>
            <label>Do Not Create Credit Note Line</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_found</name>
        <label>Status found</label>
        <locationX>596</locationX>
        <locationY>146</locationY>
        <defaultConnectorLabel>Not set</defaultConnectorLabel>
        <rules>
            <name>Status_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_s_the_Billing_Type</targetReference>
            </connector>
            <label>Status set</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_s_the_Billing_Type</name>
        <label>What&apos;s the Billing Type?</label>
        <locationX>687</locationX>
        <locationY>239</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Arrears</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BPP_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Arrears</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_Arrears_Criteria</targetReference>
            </connector>
            <label>In Arrears</label>
        </rules>
        <rules>
            <name>In_Advance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BPP_Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Advance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_Advance_Criteria</targetReference>
            </connector>
            <label>In Advance</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Booking_Line</name>
        <label>What Type of Booking Line?</label>
        <locationX>887</locationX>
        <locationY>548</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Material_Booking_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Booking_line_iteams.blng_OrderProduct__r.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Temp_Delivery_record</targetReference>
            </connector>
            <label>Material Booking Line</label>
        </rules>
    </decisions>
    <description>BPP-16702 -To make Material Bookings use Standalone Materials instead of &quot;Bundled&quot; Materials</description>
    <formulas>
        <description>https://jira.bpp.com/browse/BPP-16702</description>
        <name>MaterialSubTotal</name>
        <dataType>Currency</dataType>
        <expression>{!loop_Booking_line_iteams.TECH_BookingCreditAmount__c}*{!loop_Booking_line_iteams.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>4C_BPP AutomatedCreditNoteProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>4C_BPP AutomatedCreditNoteProcess for Material Bookings</label>
    <loops>
        <name>loop_Booking_line_iteams</name>
        <label>loop Booking line iteams</label>
        <locationX>1124</locationX>
        <locationY>559</locationY>
        <collectionReference>get_Booking_line_iteams</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Type_of_Booking_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Note_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This will create a credit note record for the appropriate student and will fill in all mandatory fields</description>
        <name>Create_Credit_Note</name>
        <label>Create Credit Note</label>
        <locationX>904</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>get_Booking_line_iteams</targetReference>
        </connector>
        <inputAssignments>
            <field>BPP_Booking__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BPP_Credit_Note_Reason__c</field>
            <value>
                <stringValue>Automated Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Account__c</field>
            <value>
                <elementReference>$Record.TECH_StudentClient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__CreditNoteDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__EffectiveTaxDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__RelatedInvoice__c</field>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxCountry__c</field>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </inputAssignments>
        <object>blng__CreditNote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Note_Lines</name>
        <label>Create Credit Note Lines</label>
        <locationX>1364</locationX>
        <locationY>489</locationY>
        <connector>
            <targetReference>Apply_Tax_to_Credit_Note</targetReference>
        </connector>
        <inputReference>CreditNoteLinesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Booking_line_iteams</name>
        <label>get Booking line iteams</label>
        <locationX>1124</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Booking_line_iteams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_invoice_records</name>
        <label>Get invoice records</label>
        <locationX>471</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </filters>
        <object>blng__Invoice__c</object>
        <outputAssignments>
            <assignToReference>InvoiceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>invoiceBalance</assignToReference>
            <field>blng__Balance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvoiceStatus</assignToReference>
            <field>blng__InvoiceStatus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>invoiceTotal</assignToReference>
            <field>blng__TotalAmount__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetInvoiceLines</name>
        <label>GetInvoiceLines</label>
        <locationX>1926</locationX>
        <locationY>663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_invoice_line_for_allocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_Booking_line_iteams.blng_OrderProduct__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>150</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Get_invoice_records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012g000000070QpAAI</stringValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>BookingCancellationAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.BPP_Cancellation_Action__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CreateCreditNoteLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditNoteLinesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__CreditNoteLine__c</objectType>
    </variables>
    <variables>
        <name>invoiceBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TempCreditNoteLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__CreditNoteLine__c</objectType>
    </variables>
    <variables>
        <name>TempDeliveryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Delivery__c</objectType>
    </variables>
</Flow>
