salesforce-main/src/main/default/flows/X4C_BPP_Order_Product_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Read values from order product, quote line and account that will drive rest of the flow.</description>
        <name>Get_logic_driving_values</name>
        <label>Get Logic-Driving Values</label>
        <locationX>578</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>RealLegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2.BPP_Legal_Entity__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MappedBillingRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.Billing_Rule__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MappedTaxRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.Tax_Rule__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.SBQQ__Account__r.Customer_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Billing_Rule_to_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Category_to_CMB</name>
        <label>Set Billing Category to CMB</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>BillingCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CMB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Tax_Rule_to_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Category_to_INT</name>
        <label>Set Billing Category to INT</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>BillingCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Tax_Rule_to_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Category_to_STD</name>
        <label>Set Billing Category to STD</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>BillingCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Tax_Rule_to_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Billing_Category_to_STD_Default</name>
        <label>Set Billing Category to STD</label>
        <locationX>974</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>BillingCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Tax_Rule_to_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Having derived pseudo legal entity to use, set it on Order Product.</description>
        <name>Set_Fields_on_Order_Product</name>
        <label>Set Fields on Order Product</label>
        <locationX>578</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United Kingdom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Pseudo_Legal_Entity.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Tax_Category_to_EXE</name>
        <label>Set Tax Category to EXE</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>TaxCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EXE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Pseudo_Legal_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Category_to_OSS</name>
        <label>Set Tax Category to OSS</label>
        <locationX>578</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>TaxCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OSS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Pseudo_Legal_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>STD</description>
        <name>Set_Tax_Category_to_STD</name>
        <label>Set Tax Category to STD</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>TaxCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Pseudo_Legal_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Category_to_STD_Default</name>
        <label>Set Tax Category to STD</label>
        <locationX>1106</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>TaxCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Pseudo_Legal_Entity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Category_to_ZER</name>
        <label>Set Tax Category to ZER</label>
        <locationX>842</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>TaxCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ZER</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Pseudo_Legal_Entity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Map Billing Rule name contents to abbreviation to be used in lookup.</description>
        <name>Map_Billing_Rule_to_Category</name>
        <label>Map Billing Rule to Category</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Billing_Category_to_STD_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intercompany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intercompany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Category_to_INT</targetReference>
            </connector>
            <label>Intercompany</label>
        </rules>
        <rules>
            <name>Combined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MappedBillingRule</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Combined GL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Category_to_CMB</targetReference>
            </connector>
            <label>Combined</label>
        </rules>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MappedBillingRule</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Standard GL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Category_to_STD</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
    </decisions>
    <decisions>
        <description>Map Tax Rule name contents to abbreviation to be used in lookup.</description>
        <name>Map_Tax_Rule_to_Category</name>
        <label>Map Tax Rule to Category</label>
        <locationX>578</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Set_Tax_Category_to_STD_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No match</defaultConnectorLabel>
        <rules>
            <name>STD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MappedTaxRule</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>STD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MappedTaxRule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Write-Off - STD Tax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Category_to_STD</targetReference>
            </connector>
            <label>STD</label>
        </rules>
        <rules>
            <name>EXE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MappedTaxRule</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>EXE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Category_to_EXE</targetReference>
            </connector>
            <label>EXE</label>
        </rules>
        <rules>
            <name>OSS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MappedTaxRule</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>OSS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Category_to_OSS</targetReference>
            </connector>
            <label>OSS</label>
        </rules>
        <rules>
            <name>ZER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MappedTaxRule</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ZER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tax_Category_to_ZER</targetReference>
            </connector>
            <label>ZER</label>
        </rules>
    </decisions>
    <description>Looks at mapped billing rule, tax rule and account type to set pseudo legal entity so that treatments will be chosen that align with preferred taxation and GLs.  Also sets Tax Country (Override) to United Kingdom, Start Date to Order.EffectiveDate.</description>
    <environments>Default</environments>
    <interviewLabel>4C_BPP Order Product Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>4C_BPP Order Product Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Use derived categories to lookup pseudo legal entity.</description>
        <name>Lookup_Pseudo_Legal_Entity</name>
        <label>Lookup Pseudo Legal Entity</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fields_on_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BPP_Billing_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BillingCategory</elementReference>
            </value>
        </filters>
        <filters>
            <field>BPP_Tax_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaxCategory</elementReference>
            </value>
        </filters>
        <filters>
            <field>BPP_Reporting_Legal_Entity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RealLegalEntity</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__LegalEntity__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_logic_driving_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MappedBillingRule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MappedTaxRule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RealLegalEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
